<div class="modal-header">
  <h4 class="modal-title">
    <i class="budon budon-warning"></i>
    {{title}}
  </h4>
  <a class="close" ng-click="cancel()">&times;</a>
</div>
<h3 class="modal-body">
  <div class="small text-message">{{message}}</div>
</h3>
<div class="modal-footer">
  <button type="button"
          class="btn btn-default btn-sm rounded"
          ng-click="cancel()">取消</button>
  <button type="button"
          ng-repeat="btn in buttons"
          class="btn btn-danger btn-sm rounded"
          ng-click="confirm($index)"
          focus-me="confirmButtonFocus[$index]"
          ng-init="confirmButtonFocus[0] = true">{{btn}}</button>
</div>
