<div>
  <div class="modal-header modal-header-black">
    <h4 class="modal-title">
      {{title}}
      <a class="close" ng-click="cancel()">&times;</a>
    </h4>
  </div>
  <h3 class="modal-body">
    <small class="text-danger">{{message}}</small>
  </h3>
  <div class="modal-footer">
    <button type="button"
            ng-repeat="btn in buttons"
            class="btn btn-danger btn-sm rounded"
            ng-click="confirm($index)"
            focus-me="confirmButtonFocus[$index]"
            ng-init="confirmButtonFocus[0] = true">{{btn}}</button>
    <button type="button" class="btn btn-default btn-sm rounded" ng-click="cancel()">取消</button>
  </div>
</div>
