<div class="col-md-4 list-group item-list-group">
  <div class="list-group-item new-item">
    <button class="btn btn-danger"
            ng-click="createNewItem()">
      <i class="fa fa-plus pull-right"> <b>添加</b></i>
      {{itemTitle}} <small>({{items.length}})</small>
    </button>
  </div>
  <div class="list-group-item item-info desc">
    <input ng-model="searchItem"
           class="form-control"
           placeholder="查找{{itemTitle}}">
  </div>
  <div class="list-group-item item-info desc">
    <label>
      <button ng-class="{'checked':isSelectedAll(currentItems)}"
              ng-click="toggleSelect(currentItems, !isSelectedAll(currentItems))"
              class="btn btn-check checkbox-default"></button>
      <span ng-if="!toggledSelectAllItems">全选</span>
      <span ng-if="toggledSelectAllItems">取消全选</span>
    </label>
      <span ng-show="selectedItems.length > 0" class="pull-right">
        <a class="btn btn-link"
           ng-click="deleteItems(selectedItems)">删除 ({{selectedItems.length}})</a>
      </span>
  </div>
  <div class="list-group-item item-info"
       ng-if="other[children].length>0"
       ng-class="{'active':activeItem == other}">
    <input type="checkbox"
           disabled
           class="bud checkbox-default">
    <a ng-click="viewItem(other)">
      <span class="item-name">{{other.name}}</span>
      <span class="badge pull-right">{{other[children].length}}</span>
    </a>
  </div>
  <div ng-repeat="item in currentItems = (items | filter:{name:searchItem} | paging:10:currentPage)"
       class="list-group-item item-info"
       ng-class="{'selected':item.$selected, 'active':activeItem == item}">
    <input type="checkbox"
           ng-model="item.$selected"
           ng-change="toggleSelect([item], item.$selected)"
           class="bud checkbox-default">
    <a ng-click="viewItem(item)">
      <span class="item-name">{{item.name}}</span>
      <span class="badge pull-right">{{item[children].length}}</span>
    </a>
  </div>
  <pagination total-items="items.length"
              ng-model="currentPage"
              max-size="5"
              ng-show="items.length > 10"
              previous-text="上一页"
              next-text="下一页"
              class="pagination-sm"
              rotate="true"></pagination>
</div>
