<div class="fadeIn list-group-item manage-users-list">
  <div ng-if="!(users.length > 0)"
       class="empty-users text-center">
    <h5>
      该<span ng-if="classe">班级</span><span ng-if="!classe">机构</span>还没有{{roleTitle}}，请添加
    </h5>
    <br/>
    <button class="btn btn-danger btn-sm rounded"
            ng-click="addNewUser()">
      添加
    </button>
    <label class="btn btn-danger btn-sm rounded">
      <input type="file"
             style="display:none;"
             onclick="this.value = null"
             ng-file-select="importUsers($files)"/>
        <span ng-if="!viewState.importing">
          批量导入
        </span>
        <span ng-if="viewState.importing">
          <i class="fa fa-spinner fa-spin"></i>
          导入中
        </span>
    </label>
  </div>
  <div ng-if="users.length > 0">
    <strong>{{roleTitle}}列表</strong>
    <span class="liner"></span>
    <input class="form-control search-input"
           ng-model="searchUser"
           placeholder="查找{{roleTitle}}">
    <span class="pull-right">
      <span ng-show="!(selectedUsers.length > 0)">
        <button class="btn btn-danger btn-sm rounded"
                ng-click="addNewUser()">
          添加
        </button>
        <label class="btn btn-danger btn-sm rounded">
          <input type="file"
                 style="display:none;"
                 onclick="this.value = null"
                 ng-file-select="importUsers($files)"/>
          <span ng-if="!viewState.importing">
            批量导入
          </span>
          <span ng-if="viewState.importing">
            <i class="fa fa-spinner fa-spin"></i>
            导入中
          </span>
        </label>
      </span>
      <span ng-show="selectedUsers.length > 0">
        <div class="btn-group"
             ng-if="classes.length > 0"
             is-open="viewState.moveDropDown"
             dropdown >
          <button class="btn btn-danger btn-sm rounded dropdown-toggle"
                  ng-disabled="selectedUsers.length == 0 || viewState.moving">
           <span ng-if="!viewState.moving">
             分配到.. <span class="caret"></span>
           </span>
           <span ng-if="viewState.moving">
             <i class="fa fa-spinner fa-spin"></i>
             分配中
           </span>
          </button>
          <ul class="dropdown-menu users-dropdown"
              ng-click="viewState.moveDropDown = false"
              role="menu">
            <li><a href>将这选中的{{selectedUsers.length}}个学生分配到...</a></li>
            <li class="divider"></li>
            <li ng-repeat="classe in classes | filter: {_id: '!' + (classe._id.length>0?classe._id:' ')}">
              <a href ng-click="moveUsers(selectedUsers, classe)">{{classe.name}}</a>
            </li>
          </ul>
        </div>
        <div class="btn-group"
             ng-if="classe._id.length > 0 && classes.length > 0"
             is-open="viewState.copyDropDown"
             dropdown >
          <button class="btn btn-danger btn-sm rounded dropdown-toggle"
                  ng-disabled="selectedUsers.length == 0 || viewState.copying">
           <span ng-if="!viewState.copying">
             添加到.. <span class="caret"></span>
           </span>
           <span ng-if="viewState.copying">
             <i class="fa fa-spinner fa-spin"></i>
             添加中
           </span>
          </button>
          <ul class="dropdown-menu users-dropdown"
              ng-click="viewState.copyDropDown = false"
              role="menu">
            <li><a href>将这选中的{{selectedUsers.length}}个学生添加到...</a></li>
            <li class="divider"></li>
            <li ng-repeat="classe in classes | filter: {_id:'!'+classe._id}" >
              <a href ng-click="copyUsers(selectedUsers, classe)">{{classe.name}}</a>
            </li>
          </ul>
        </div>
        <button class="btn btn-default btn-sm rounded"
                ng-click="removeUsers(selectedUsers)"
                ng-disabled="selectedUsers.length == 0 || viewState.deleting">
          <span ng-if="!viewState.deleting">
            删除
          </span>
          <span ng-if="viewState.deleting">
            <i class="fa fa-spinner fa-spin"></i>
            删除中
          </span>
          <span ng-if="selectedUsers.length > 0">({{selectedUsers.length}})</span>
        </button>
      </span>
    </span>

    <hr/>

    <div class="user-info header">
      <input type="checkbox"
             ng-model="toggleSelectAllUsers"
             ng-change="toggleSelect(users, toggleSelectAllUsers)"
             class="bud checkbox-default">
      <span class="name">姓名</span>
      <span class="username">用户名</span>
      <span class="email">邮箱</span>
    <span class="pull-right">
      账户状态
    </span>
    </div>
    <div ng-repeat="user in users | filter:searchUser"
         class="user-info">
      <input type="checkbox"
             ng-model="user.$selected"
             ng-change="toggleSelect([user], user.$selected)"
             class="bud checkbox-default">
      <a ng-click="showDetail(user)">
        <span class="name">{{user.name}}</span>
        <span class="username">{{user.username}}</span>
        <span class="email">{{user.email}}</span>
      <span class="pull-right">
        <span class="status">{{user.status||'活跃'}}</span>
      </span>
      </a>
    </div>
  </div>
</div>
