<div class="fadeIn list-group-item manage-users-list">
  <div ng-if="!users.length && !Auth.hasRole('admin')"
       class="empty-users text-center">
    <h5>
      <div><i class="fa fa-group fa-4x"></i></div>
      该班级还没有学生参加
    </h5>
    <br/>
  </div>
  <div ng-if="!users.length && Auth.hasRole('admin')"
       class="empty-users text-center">
    <h5>
      <div>
        <i ng-if="userRole=='teacher'" class="budon budon-teacher fa-4x"></i>
        <i ng-if="userRole!='teacher'" class="fa fa-group fa-4x"></i>
      </div>
      该<span ng-if="classe">班级</span><span ng-if="!classe">机构</span>还没有{{roleTitle}}参加
    </h5>
    <br/>
    <button class="btn btn-danger btn-sm"
            ng-click="addNewUser()">
      添加
    </button>
    <label class="btn btn-danger btn-sm">
      <input type="file"
             style="display:none;"
             onclick="this.value = null"
             ng-file-select="importUsers($files)"/>
        <span ng-if="!viewState.importing">
          批量导入
        </span>
        <span ng-if="viewState.importing">
          <i class="fa fa-spinner fa-spin"></i>
          导入中
        </span>
    </label>

    <span dropdown style="position: relative" is-open="openHint">
      <i class="fa fa-question-circle hint" dropdown-toggle ng-mouseenter="openHint = true"></i>
      <ul class="dropdown-menu" role="menu">
        <li>
          <img alt="上传说明" src="assets/images/bulk_uploader_help.png" alt="">
          <a href="assets/images/teachers.xlsx" target="blank" class="">下载模板</a>
        </li>
      </ul>
    </span>
  </div>
  <div ng-if="users.length > 0">
    <strong>{{roleTitle}}列表</strong>
    <small class="text-muted">({{users.length}})</small>
    <span class="liner"></span>
    <input class="form-control search-input"
           ng-model="searchUser"
           placeholder="查找{{roleTitle}}">
    <span class="pull-right" ng-if="Auth.hasRole('admin')">
      <span ng-show="!(selectedUsers.length > 0)">
        <button class="btn btn-danger btn-sm"
                ng-click="addNewUser()">
          添加
        </button>
        <label class="btn btn-danger btn-sm">
          <input type="file"
                 style="display:none;"
                 onclick="this.value = null"
                 ng-file-select="importUsers($files)"/>
          <span ng-if="!viewState.importing">
            批量导入
          </span>
          <span ng-if="viewState.importing">
            <i class="fa fa-spinner fa-spin"></i>
            导入中
          </span>
        </label>
        <span dropdown style="position: relative" class="pull-right" is-open="openHint">
          <a href="" class="btn btn-sm" dropdown-toggle ng-mouseenter="openHint = true">
            <i class="fa fa-question-circle hint" ></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <img alt="上传说明" src="assets/images/bulk_uploader_help.png" alt="">
              <a href="assets/images/teachers.xlsx" target="blank" class="">下载模板</a>
            </li>
          </ul>
        </span>
      </span>
      <span ng-show="selectedUsers.length > 0">
        <div class="btn-group"
             ng-if="classes.length > 0"
             is-open="viewState.moveDropDown"
             dropdown >
          <button class="btn btn-danger btn-sm dropdown-toggle" dropdown-toggle
                  ng-disabled="selectedUsers.length == 0 || viewState.moving">
           <span ng-if="!viewState.moving">
             移动到.. <span class="caret"></span>
           </span>
           <span ng-if="viewState.moving">
             <i class="fa fa-spinner fa-spin"></i>
             移动中
           </span>
          </button>
          <ul class="dropdown-menu users-dropdown"
              ng-click="viewState.moveDropDown = false"
              role="menu">
            <li><a href>将这选中的{{selectedUsers.length}}个学生移动到...</a></li>
            <li class="divider"></li>
            <li ng-repeat="classe in classes | filter: {_id: '!' + (classe._id.length>0?classe._id:' ')}">
              <a href ng-click="moveUsers(selectedUsers, classe)">{{classe.name}}</a>
            </li>
          </ul>
        </div>
        <div class="btn-group"
             ng-if="classe._id.length > 0 && classes.length > 0"
             is-open="viewState.copyDropDown"
             dropdown >
          <button class="btn btn-danger btn-sm dropdown-toggle" dropdown-toggle
                  ng-disabled="selectedUsers.length == 0 || viewState.copying">
           <span ng-if="!viewState.copying">
             复制到.. <span class="caret"></span>
           </span>
           <span ng-if="viewState.copying">
             <i class="fa fa-spinner fa-spin"></i>
             复制中
           </span>
          </button>
          <ul class="dropdown-menu users-dropdown"
              ng-click="viewState.copyDropDown = false"
              role="menu">
            <li><a href>将这选中的{{selectedUsers.length}}个学生复制到...</a></li>
            <li class="divider"></li>
            <li ng-repeat="classe in classes | filter: {_id:'!'+classe._id}" >
              <a href ng-click="copyUsers(selectedUsers, classe)">{{classe.name}}</a>
            </li>
          </ul>
        </div>
        <button class="btn btn-default btn-sm"
                ng-click="removeUsers(selectedUsers)"
                ng-disabled="selectedUsers.length == 0 || viewState.deleting">
          <span ng-if="!viewState.deleting">
            删除
          </span>
          <span ng-if="viewState.deleting">
            <i class="fa fa-spinner fa-spin"></i>
            删除中
          </span>
          <span ng-if="selectedUsers.length > 0">({{selectedUsers.length}})</span>
        </button>
      </span>
    </span>

    <hr/>

    <div class="user-info header">
      <button ng-class="{'checked':isSelectedAll(currentUsers)}"
              ng-if="Auth.hasRole('admin')"
              ng-click="toggleSelect(currentUsers, !isSelectedAll(currentUsers))"
              class="btn btn-check checkbox-default"></button>
      <span class="name">姓名</span>
      <span class="email">邮箱</span>
      <span class="pull-right">
        账户状态
      </span>
    </div>
    <div ng-repeat="user in currentUsers = (users | filter:searchUser | paging:pageSize:currentPage)"
         class="user-info">
      <input type="checkbox"
             ng-model="user.$selected"
             ng-if="Auth.hasRole('admin')"
             ng-change="toggleSelect([user], user.$selected)"
             class="bud checkbox-default">
      <span class="user-info-content"
            ng-class="{'pointer':Auth.hasRole('admin')}"
            ng-click="Auth.hasRole('admin') && showDetail(user)">
        <span class="name">{{user.name}}</span>
        <span class="email">{{user.email}}<span class="text-primary" ng-if="!(user.email.length > 0) && user.weixin.id"> 微信用户</span></span>
        <span class="pull-right">
          <span class="status text-success" ng-if="user.weixin.id || user.status == 1">已激活</span>
          <span class="status text-danger" ng-if="!user.weixin.id && user.status != 1">等待激活</span>
        </span>
      </span>
    </div>

    <pager total-items="users.length"
           ng-show="users.length > pageSize"
           ng-model="currentPage"
           previous-text="上一页"
           next-text="下一页"></pager>
  </div>
</div>
