<div class="modal-header">
  <h4 class="modal-title">
    <i class="budon budon-category"></i>
    新{{itemTitle}}
  </h4>
  <a class="close" ng-click="cancel()">&times;</a>
</div>
<form class="form-horizontal new-item-form modal-body"
      name="form">
  <div class="form-group">
    <label class="control-label col-sm-3">{{itemTitle}}名称</label>
    <div class="col-sm-9">
      <input class="form-control"
             id="item-name"
             ng-init="nameInputFocus=true"
             focus-me="nameInputFocus"
             placeholder="请输入{{itemTitle}}名称"
             ng-model="item.name"
             required>
      <small class="text-danger" ng-if="errors.name">{{ errors.name.message }}</small>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-sm btn-default rounded"
            ng-click="cancel()">取消</button>
    <button type="submit"
            class="btn btn-sm btn-danger rounded"
            ng-click="confirm(form)">保存</button>
  </div>

</form>
