<div class="modal-header">
  <h4 class="modal-title">
    <i class="budon budon-teacher" ng-if="user.role=='teacher'"></i>
    <i class="budon budon-user" ng-if="user.role!='teacher'"></i>
    {{title }}
  </h4>
  <a class="close" ng-click="cancel()">&times;</a>
</div>

<form class="form-horizontal new-user-form modal-body"
      name="form" novalidate>

  <div class="form-group form-group-sm">
    <span for="inputUserName" class="col-xs-3 control-label">{{user.role=='teacher'?'邮箱':'邮箱或昵称'}}</span>
    <div class="col-xs-8" ng-if="user.role=='teacher'">
      <input type="email"
             class="form-control input-sm"
             name="email"
             ng-model="user.email"
             required
             ng-pattern="/^[_a-z0-9-\+]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/i"
             mongoose-error
             placeholder="请输入要添加的email"/>
      <small class="text-danger" ng-show="form.email.$error.required && submitted">
        请输入邮箱
      </small>
      <small class="text-danger" ng-show="form.email.$error.pattern && submitted">
        邮箱格式错误
      </small>
      <small class="text-danger" ng-show="form.email.$error.mongoose">
        邮箱已被注册
      </small>
    </div>

    <div class="col-xs-8" ng-if="user.role=='student'">
      <ui-select id="user"
                 ng-model="targetUser"
                 name="email"
                 on-select="selectUser($item, $select.search, $event)"
                 class="user-select"
                 mongoose-error
                 required>
        <ui-select-match placeholder="请输入要添加的email或者选择一个已存在的用户">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices refresh="searchUsers($select)" refresh-delay="500" repeat="user in searchedUsers">
          <span ng-bind-html="user.text | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <div class="text-danger" ng-if="form.email.$error.required&&submitted">请选择一个用户</div>
      <small class="text-danger" ng-show="form.email.$error.mongoose">
        邮箱已被注册
      </small>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-default btn-sm"
            ng-click="cancel(form)">
      取消
    </button>
    <button type="submit"
            id="confirm-btn"
            class="btn btn-danger btn-sm"
            ng-click="confirm(form)">
      确定
    </button>
  </div>
</form>

