<div class="navbar sub-nav">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav">
        <li>
          <a href="" ui-sref="teacher.course({courseId: course._id})">
            <i class="fa fa-chevron-left"></i>&nbsp;{{course.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="teacher-lecture">
  <div class="quick-link"
       ng-if="$state.includes('teacher.lecture.questionLibrary') ||
              editingProgress.done<3">
    <div class="container">
      <div class="editing-progress row"
          ng-if="!$state.includes('teacher.lecture.questionLibrary')">
        <span class="link-item col-md-4 col-sm-4 col-xs-4">
          <div class="inner"></div>
          <a class="btn btn-link"
             ng-class="{done:editingProgress.info==1,new:editingProgress.info==0,half:editingProgress.info==.5}"
             du-smooth-scroll
             tooltip="{{genTooltip(editingProgress.info, '基本信息')}}"
             offset="60"
             href="#lecture-info">
            <span class="text-muted">1.基本信息</span>
          </a>
        </span>
        <span class="link-item col-md-4 col-sm-4 col-xs-4">
          <div class="inner right"></div>
          <a class="btn btn-link"
             du-smooth-scroll
             tooltip="{{genTooltip(editingProgress.media, '课件制作与知识点')}}"
             offset="60"
             ng-class="{done:editingProgress.media==1,new:editingProgress.media==0,half:editingProgress.media==.5}"
             href="#lecture-media">
            <span class="text-muted">2.课件制作与知识点</span>
          </a>
        </span>
        <span class="link-item col-md-4 col-sm-4 col-xs-4">
          <a class="btn btn-link"
             du-smooth-scroll
             offset="60"
             tooltip="{{genTooltip(editingProgress.question, '随堂练习和课后作业')}}"
             ng-class="{done:editingProgress.question==1,new:editingProgress.question==0,half:editingProgress.question==.5}"
             href="#lecture-question">
            <span class="text-muted">3.随堂练习和课后作业</span>
          </a>
        </span>
      </div>
      <ul class="pull-left"
          ng-if="$state.includes('teacher.lecture.questionLibrary')">
        <li>
          <a class="btn btn-primary rounded"
             ui-sref="teacher.lecture({courseId:$state.params.courseId, lectureId:$state.params.lectureId})">
            <i class="fa fa-arrow-left"></i>
          </a>
        </li>
        <li>
          <h3 class="link-item">{{lecture.name}}<small>/从题库中添加</small></h3>
        </li>
      </ul>
    </div>
  </div>
  <div ui-view class="fadeIn teacher"></div>
  <section class="info-section"
           id="lecture-info"
           ng-hide="$state.includes('teacher.lecture.questionLibrary')">
    <div class="container">
      <div class="row lecture-form">
        <form class="col-md-12 col-sm-12 text-center"
              name="form"
              role="form">
          <span ng-if="!editingInfo"
                id="edit-lecture-btn-group"
                dropdown class="setting-btn pull-right" style="position: relative;">
            <a href="" class="btn btn-sm" dropdown-toggle>
              <i class="budon budon-bars"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="switchEdit()">编辑</a></li>
              <li>
                <a href="" ng-click="switchFreeTry()">
                  {{lecture.isFreeTry?'取消免费':'设为免费'}}
                </a>
              </li>
              <li><a href="" ng-click="deleteLecture()">删除</a></li>
            </ul>
          </span>
          <div class="form-group text-center">
            <span id="lecture-name" ng-hide="editingInfo" style="margin-left: 46px;">{{lecture.name}}</span>
            <span ng-if="editingInfo">
              <input class="form-control"
                     id="lecture-name-input"
                     name="name"
                     type="text"
                     maxlength="50"
                     focus-me="lectureNameFocus"
                     ng-init="lectureNameFocus=true"
                     ng-model="editingInfo.name"
                     placeholder="课时名称"
                     required>
            </span>
          </div>
          <div class="form-group text-center">
            <div id="lecture-info"
                 class="scroll-bar-visible"
                 ng-if="lecture.info"
                 ng-hide="editingInfo">{{lecture.info}}</div>
            <span ng-if="editingInfo">
              <textarea class="form-control"
                        id="lecture-info-input"
                        name="info"
                        rows="4"
                        ng-model="editingInfo.info"
                        placeholder="课时信息">
              </textarea>
            </span>
          </div>
          <div class="form-group text-center">
            <div class="btn-group dropdown"
                 id="start-teaching-btn"
                 ng-if="!editingInfo">
              <button type="button"
                      tooltip="请选择开始上课的班级"
                      tooltip-placement="top"
                      class="btn btn-danger dropdown-toggle">
                开始上课 <i class="fa fa-chevron-down pull-right"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="classe in classes | filter:{courseId: course._id}">
                  <a ui-sref="teacher.teaching({courseId:course._id, lectureId:lecture._id, classeId:classe._id})">{{classe.name}}</a>
                </li>
              </ul>
            </div>

            <span ng-if="editingInfo">
              <button type="submit"
                      ng-disabled="deleting && saving"
                      class="btn btn-primary"
                      ng-click="saveLecture(form)">
                <span ng-if="!saving">保存</span>
                <span ng-if="saving">
                  <i class="fa fa-spinner fa-spin"></i>
                  保存中
                </span>
              </button>
              <button type="button"
                      ng-if="lecture.__v == 0"
                      ng-disabled="deleting && saving"
                      class="btn btn-warning"
                      ng-click="deleteLecture()">
                <span ng-if="!saving">取消</span>
                <span ng-if="saving">
                  <i class="fa fa-spinner fa-spin"></i>
                  删除中
                </span>
              </button>
              <button type="button"
                      ng-if="lecture.__v > 0"
                      class="btn btn-default"
                      ng-click="switchEdit(false)">
                取消
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="media-section"
           id="lecture-media"
           ng-hide="$state.includes('teacher.lecture.questionLibrary')">
    <div class="container">
      <div class="text-center"
           ng-class="{'file':!viewState.videoActive}">
        <span class="btn-group lecture-nav-tabs">
          <a ng-click="viewState.videoActive = true"
             ng-class="{'active':viewState.videoActive}"
             class="btn btn-default"
             du-smooth-scroll
             offset="60"
             href="#lecture-media">
            <i class="fa fa-file-video-o"></i>
            视频
          </a>
          <a ng-click="viewState.videoActive = false"
             ng-class="{'active':!viewState.videoActive}"
             class="btn btn-default"
             du-smooth-scroll
             offset="60"
             href="#lecture-media">
            <i class="fa fa-file-powerpoint-o"></i>
            讲义
          </a>
        </span>
      </div>
      <div class="row" ng-show="viewState.videoActive">
        <div class="col-md-12 lecture-video lecture-video-empty"
             ng-if="!lecture.media&&!lecture.externalMedia">
          <label class="empty-video-desc">目前没有视频，请添加</label>
          <div>
            <uploader limit="{{videoLimitation}}"
                      on-complete="onMediaUploaded($data)"
                      on-begin="onMediaUploadStart()"
                      on-convert="onMediaConvert()"
                      on-error="onError($error)"
                      class="lecture-video-btn btn-danger"
                      accept-type="video">
              <i class="fa fa-file-video-o"></i>
              导入视频
            </uploader>
            <span class="text-muted" style="vertical-align: middle;margin-top: 10px;display: inline-block;">(不大于{{videoLimitation|bytes}} <span ng-if="!org.isPaid"> ，太小？<a tooltip="基础功能用户的视频大小限制为30MB。如需要升级，请联系我们 info@cloud3edu.com" href="mailto:info@cloud3edu.com" target="blank" >联系我们</a></span>)</span>
            <h4><small>或者</small></h4>
            <form ng-submit="insertExternalVideo()" name="form" class="insert-link-form col-sm-8 col-sm-offset-2">
              <div class="input-group input-group-sm">
                <input type="text" name="externalVideo" class="form-control" required ng-model="viewState.externalVideo">
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="submit">添加外部视频</button>
                </span>
              </div>
              <p class="text-muted">
                支持优酷或腾讯视频链接以及其他通用iframe嵌入代码。
              </p>
            </form>
          </div>
        </div>
        <div class="col-md-12 lecture-video"
             ng-if="lecture.media||lecture.externalMedia">
          <div class="col-md-6 video-body">
            <object ng-if="!supportHLS&&!lecture.externalMedia">
              <param name="movie" value="assets/images/StrobeMediaPlayback.2.0.swf"></param>
              <param name="flashvars" value="src=http://trymedia.origin.mediaservices.chinacloudapi.cn/c8e1a25b-f379-4a79-8f3f-4c92d3b3de37/shit.ism/Manifest&autoPlay=true&plugin_AdaptiveStreamingPlugin=assets/images/MSAdaptiveStreamingPlugin-v1.0.10-osmf2.0.swf&AdaptiveStreamingPlugin_retryLive=true&AdaptiveStreamingPlugin_retryInterval=10"></param>
              <param name="allowFullScreen" value="true"></param>
              <param name="allowscriptaccess" value="always"></param>
              <param name="wmode" value="direct"></param>
              <embed src="assets/images/StrobeMediaPlayback.2.0.swf"
                type="application/x-shockwave-flash"
                allowscriptaccess="always"
                allowfullscreen="true"
                wmode="direct"
                width="920"
                height="640"
                flashvars="src=http://trymedia.origin.mediaservices.chinacloudapi.cn/c8e1a25b-f379-4a79-8f3f-4c92d3b3de37/shit.ism/Manifest&autoPlay=true&plugin_AdaptiveStreamingPlugin=assets/images/MSAdaptiveStreamingPlugin-v1.0.10-osmf2.0.swf&AdaptiveStreamingPlugin_retryLive=true&AdaptiveStreamingPlugin_retryInterval=10">
              </embed>
            </object>
            <div ng-if="lecture.externalMedia" class="external-media" compile-html="lecture.$externalMedia">
            </div>
            <videogular vg-player-ready="onPlayerReady" class="bud" ng-if="supportHLS&&!lecture.externalMedia">
              <vg-video class="videoPlayer" vg-src="lecture.$mediaSource">
              </vg-video>
              <vg-poster-image></vg-poster-image>
              <vg-buffering></vg-buffering>
              <vg-overlay-play></vg-overlay-play>
              <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-timeDisplay>{{currentTime.getTime()/1000|second2ReadableTime}}</vg-timeDisplay>
                <vg-scrubBar>
                  <vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
                </vg-scrubBar>
                <vg-timeDisplay>{{totalTime.getTime()/1000|second2ReadableTime}}</vg-timeDisplay>
                <vg-volume>
                  <vg-mutebutton></vg-mutebutton>
                  <vg-volumebar></vg-volumebar>
                </vg-volume>
                <vg-fullscreenButton></vg-fullscreenButton>
              </vg-controls>
            </videogular>
            <div class="btn-group">
              <label class="info" tooltip="{{lecture.name}} 视频">{{lecture.name}} 视频</label>
              <span class="pull-right">
                <uploader limit="{{videoLimitation}}"
                          on-complete="onMediaUploaded($data)"
                          on-begin="onMediaUploadStart()"
                          on-progress="onMediaUploading($speed, $percentage, $event)"
                          on-convert="onMediaConvert()"
                          on-error="onError($error)"
                          class="btn btn-primary"
                          accept-type="video">
                  <i class="glyphicon glyphicon-refresh"></i>
                  替换
                </uploader>
                <button type="button" class="btn btn-primary"
                        ng-click="removeMedia()">
                  <i class="glyphicon glyphicon-remove"></i>
                  删除
                </button>
              </span>
            </div>
          </div>
          <div edit-lecture-key-points
               lecture="lecture"
               class="col-md-6 video-body"
               key-points="keyPoints"
               category-id="course.categoryId | objectId"
               media-api="mediaApi">
          </div>
        </div>
      </div>
      <lecture-files-editor
          ng-if="!viewState.videoActive"
          ng-show="!viewState.videoActive"
          class="row"
          on-update="updateEditingProgress($lecture)"
          lecture="lecture">
      </lecture-files-editor>
    </div>

    <!-- rich text -->
    <div class="container lecture-desc-container">
      <div class="lecture-desc">
        <h4>
          <i class="glyphicon glyphicon-bookmark base-color"></i>&nbsp;课时详细内容
          <button class="btn btn-danger btn-sm pull-right rounded" ng-click="saveLectureDesc()">保存</button>
        </h4>

        <text-angular class="bud" ng-model="lecture.desc"></text-angular>
      </div>
    </div>

  </section>
  <section class="question-section"
           id="lecture-question"
           ng-hide="$state.includes('teacher.lecture.questionLibrary')">

    <div class="text-center">
      <span class="btn-group lecture-nav-tabs">
        <a ng-class="{'selected': viewState.questionType == 'quizzes'}"
           btn-radio="'quizzes'"
           ng-model="viewState.questionType"
           class="btn btn-default"
           du-smooth-scroll
           offset="60"
           href="#lecture-question">
          <i class="fa fa-clock-o"></i>
          随堂练习
        </a>
        <a ng-class="{'selected': viewState.questionType == 'homeworks'}"
           btn-radio="'homeworks'"
           ng-model="viewState.questionType"
           class="btn btn-default"
           du-smooth-scroll
           offset="60"
           href="#lecture-question">
          <i class="fa fa-file-o"></i>
          课后作业
        </a>
        <a ng-class="{'selected': viewState.questionType == 'offlineWorks'}"
           btn-radio="'offlineWorks'"
           ng-model="viewState.questionType"
           class="btn btn-default"
           du-smooth-scroll
           offset="60"
           href="#lecture-question">
          <i class="fa fa-check-circle-o"></i>
          作业批改
        </a>
      </span>
    </div>

    <edit-lecture-questions
        ng-show="viewState.questionType=='quizzes'"
        lecture="lecture"
        question-type="quizzes"
        on-update="updateEditingProgress($lecture)"
        key-points="keyPoints"
        category-id="course.categoryId | objectId"></edit-lecture-questions>

    <edit-lecture-questions
        ng-show="viewState.questionType=='homeworks'"
        lecture="lecture"
        question-type="homeworks"
        on-update="updateEditingProgress($lecture)"
        key-points="keyPoints"
        category-id="course.categoryId | objectId"></edit-lecture-questions>

    <mark-offline-works
        ng-show="viewState.questionType=='offlineWorks'"
        lecture="lecture"
        classes="classes"></mark-offline-works>

  </section>

</div>
