<div class="teacher-manager-detail">

  <div edit-teacher-tile
       info-editable="true"
       can-delete="true"
       on-update-user="updateTeacher()"
       on-delete-user="deleteTeacher()"
       user="teacher">
  </div>

  <div class="teacher-classes-detail">
    <strong>所授班次</strong>
    <div ng-if="!(classes.length > 0)"
         class="text-center empty-classes classe-detail">
      <h5>
        <div><i class="budon budon-course fa-4x"></i></div>
        该老师目前还没有班级
      </h5>
    </div>
    <div ng-if="classes.length > 0">
      <div class="btn-group">
        <label class="btn btn-default"
               btn-radio="classe._id"
               ng-model="selectedClasse._id"
               ng-repeat="classe in classes">
          {{classe.name}}({{classe.students.length}})
       </label>
      </div>
      <div class="classe-detail stats-view" ng-if="!selectedClasse.students.length">
        <h4 class="text-primary">
          <small>
            课程名：
          </small>
            {{selectedClasse.courseId.name}}
          <small>
            | 班级名：
          </small>
            {{selectedClasse.name}}
          <small>
            | 学生人数：
          </small>
            {{selectedClasse.students.length||0}}
        </h4>
        <h3 class="text-muted">
          该班级暂无学生，无统计信息。
        </h3>
      </div>
      <div class="classe-detail stats-view" ng-if="selectedClasse.students.length">
        <h4 class="text-primary">
          <small>
            课程名：
          </small>
            {{selectedClasse.courseId.name}}
          <small>
            | 班级名：
          </small>
            {{selectedClasse.name}}
          <small>
            | 学生人数：
          </small>
            {{selectedClasse.students.length||0}}
        </h4>
        <div class="overall clearfix">
          <div class="col-md-12 pies clearfix">
            <div class="col-md-4">
              <highchart config="quizStats" class="bud-chart"></highchart>
              <div class="percentage quiz-percentage">
                {{quizStats.series[0].data[0].y||0}}<sup>%</sup>
              </div>
            </div>
            <div class="col-md-4">
              <highchart config="homeworkStats" class="bud-chart"></highchart>
              <div class="percentage homework-percentage">
                {{homeworkStats.series[0].data[0].y||0}}<sup>%</sup>
              </div>
            </div>
            <div class="col-md-4">
              <highchart config="keypointStats" class="bud-chart"></highchart>
              <div class="percentage keypoint-percentage">
                {{keypointStats.series[0].data[0].y||0}}<sup>%</sup>
              </div>
            </div>
          </div>
        </div>

        <hr/>

        <div class="clearfix detail-container">
          <div class="detail">
            <tabset class="trend">
              <tab heading="随堂问题">
                <highchart config="quizTrendChart" class="bud-chart"></highchart>
              </tab>
              <tab heading="课后习题"
                   select="triggerResize()">
                <highchart config="homeworkTrendChart" class="bud-chart"></highchart>
              </tab>
            </tabset>

            <hr/>
            <div class="keypoints">
              <highchart config="keypointBarChart" class="bud-chart"></highchart>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
