@modal-sm: 500px;

.modal-content {
  border-top-left-radius: 8px;
}
.modal-header-black {
  border-top-left-radius: 5px;
  padding: 8px;
  margin: 0px;
  background: #000000;
  color: #FEFEFE;
  text-align: center;
  border: none;
  .close {
    color: #ffffff;
    opacity: .7;
  }
}

.bud-modal {
  .modal-dialog {
    .modal-content {
      border-radius: 4px;
      .modal-header {
        border-radius: 4px;
        background: white;
        border-bottom: none;
      }
      .modal-title {
        padding-bottom: 30px;
        .budon {
          color: @base-color;
          color: #5abda6;
          font-size: 25px;
          line-height: 25px;
          vertical-align: top;
        }
      }
      .modal-footer {
        border-top: none;
        .btn {
          width: 60px;
        }
      }
    }
  }
}
