<div class="footer">
  <div class="container text-center">
    <p ng-if="!org">
      <span><a href="/">
        <i class="budon budon-logo-with-title"></i>
      </a></span>
      <span>| &copy; 2014 上海学之方教育科技有限公司</span>
      <span>| 沪ICP备14041743号</span>
      <span>| <a href="http://www.cloud3edu.cn/blog" target="blank">博客</a></span>
      <!-- <span>| <a href="/assets/html/docs/help.html" target="blank">帮助文档</a></span> -->
    </p>
    <p ng-if="org">
      <span><a href="/">
        <img class="logo" ng-src="{{org.logo}}" alt="">
      </a></span>
      <span>| <a href="/">{{org.name}}</a></span>
      <span ng-if="org.copyright">| Copyright &copy; {{org.copyright}}</span>
      <span ng-if="org.icp">| {{org.icp}}</span>
      <span ng-if="org.telephone">| {{org.telephone}}</span>
      <!-- <span>| <a href="/assets/html/docs/help.html" target="blank">帮助文档</a></span> -->
      <span ng-repeat="link in org.links">| <a href="{{link.url}}" target="blank">{{link.name}}</a></span>
    </p>
  </div>
</div>
