<div class="footer">
  <div class="container text-center">
    <p>
      <span><a href="/"><i class="budon budon-logo-with-title" style="font-size:140px;height: 35px;overflow: hidden;margin-right: 10px;color:#fff;"></i></a></span>
      <span>| &copy; 2014 上海学之方教育科技有限公司</span>
      <span>| 沪ICP备14041743号</span>
      <span>| <a href="//www.cloud3edu.com/blog" target="blank">博客</a></span>
      <span>| <a href="/assets/html/docs/help.html" target="blank">帮助文档</a></span>
    </p>
  </div>
</div>
