.course-list-view {
  background: #EBEBEB;
  padding-bottom: 30px;

  .info-row {
    background: white;
    //margin-top: 15px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    .total-num {
      color: @base-color;
      font-size: 16px;
    }
  }
  .courses-row {
    margin-top: 15px;
    background: white;
    padding-top: 20px;
  }
  .empty-classes {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    i {
      font-size: 25px;
      vertical-align: top;
    }
  }
  .pagination-row {
    margin-top: 15px;
    background: #FFF;
    height: 35px;
    .pagination {
      margin-top: 5px;
    }
  }
}
