<div class="course-list-view">
  <div class="head-row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 header">
          <h4 class="title">
            <a href ng-click="search.categoryId=null; reload()">所有课程分类</a>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 categories">
          <span class="category-label">学科</span>
          <div class="btn-group">
            <label class="btn btn-toggle"
                   ng-repeat="category in categories"
                   ng-model="search.categoryId"
                   ng-change="reload(true)"
                   uncheckable
                   btn-radio="category._id">{{category.name}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row info-row">
      共<span class="total-num">{{allClasses.$count}}</span>个
      <search-input keyword="search.keyword"
                    on-submit="setKeyword($keyword)"
                    placeholder="班级名搜索">
      </search-input>
    </div>
    <div class="row courses-row">
      <div ng-if="!allClasses.length" 
           class="text-center text-muted empty-classes">
        <i class="budon budon-course-classe"></i>
        暂无课程，敬请期待
      </div>
      <div class="col-md-3 col-sm-4"
           ng-repeat="classe in allClasses">
        <a ui-sref="courseDetail({courseId:classe.courseId._id, classeId:classe._id})">
          <public-course-tile course="classe.courseId" classe="classe"></public-course-tile>
        </a>
      </div>
    </div>
    <div class="row pagination-row text-center"
         ng-if="allClasses.$count"
         ng-show="allClasses.$count > pageConf.itemsPerPage">
      <pagination
        total-items="allClasses.$count"
        ng-model="pageConf.currentPage"
        items-per-page="pageConf.itemsPerPage"
        class="pagination-sm bud"
        boundary-links="true"
        ng-change="reload()"
        rotate="false"
        max-size="pageConf.maxSize">
      </pagination>
    </div>
  </div>
</div>
