<tabset class="col-md-12 tabset-non-border">

  <!--机构基本信息-->
  <tab heading="机构基本信息">
    <div class="row admin-ui-view">
      <form class="org-form form-horizontal col-md-10 col-md-offset-1"
            role="form"
            name="orgForm">

        <div class="form-group text-center">
          <div class="org-logo"
               src-key="organization.logo"
               source-attr="background-image"
               suffix="?imageView2/1/w/130/h/130">
          </div>
          <uploader class="btn btn-danger btn-sm rounded"
                    limit="{{imageSizeLimitation}}"
                    on-complete="onLogoUpload($data)"
                    accept-type="image"
                    crop="true"
                    crop-ratio="1"
                    max-width="256">
            修改 Logo
          </uploader>
        </div>

        <hr/>

        <div class="form-group">
          <label for="organization-name"
                 class="col-sm-3 control-label">机构全称</label>
          <div class="col-sm-7">
            <input class="form-control"
                   id="organization-name"
                   name="name"
                   ng-model="editingInfo.name"
                   placeholder="机构全称"
                   required>
          </div>
        </div>

        <div class="form-group">
          <label for="organization-uniquename"
                 class="col-sm-3 control-label">机构标识</label>
          <div class="col-sm-7">
            <input class="form-control"
                   id="organization-uniquename"
                   name="uniquename"
                   ng-model="editingInfo.uniqueName"
                   placeholder="机构唯一标识"
                   required>
            <div class="text-danger" ng-if="errors.uniqueName">{{ errors.uniqueName.message }}</div>
            <span class="text-muted">您的二级登录域名为：http://{{organization.uniqueName}}.cloud3edu.cn</span>
          </div>
        </div>

        <div class="form-group">
          <label for="organization-copyright"
                 class="col-sm-3 control-label">版权信息</label>
          <div class="col-sm-7">
            <input class="form-control"
                   id="organization-copyright"
                   name="copyright"
                   ng-model="editingInfo.copyright"
                   placeholder="请输入您的版权信息以保护您的合法权益">
            <div class="text-danger" ng-if="errors.copyright">{{ errors.copyright.message }}</div>
            <span class="text-muted">Copyright &copy; {{editingInfo.copyright}}</span>
          </div>
        </div>

        <div class="form-group">
          <label for="organization-custom-domain"
                 class="col-sm-3 control-label">绑定域名</label>
          <div class="col-sm-7">
            <input class="form-control"
                   id="organization-custom-domain"
                   name="customdomain"
                   ng-model="editingInfo.customDomain"
                   placeholder="您可以在这里绑定域名">

            <div class="text-danger" ng-if="errors.customDomain">{{ errors.customDomain.message }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="organization-icp"
                 class="col-sm-3 control-label">备案</label>
          <div class="col-sm-7">
            <input class="form-control"
                   id="organization-icp"
                   name="icp"
                   ng-model="editingInfo.icp"
                   placeholder="如果使用自定义域名，请务必填写您的网站备案号">
            <div class="text-danger" ng-if="errors.icp">{{ errors.icp.message }}</div>
          </div>
        </div>

        <div class="form-group">
          <label for="organization-desc"
                 class="col-sm-3 control-label">机构简介</label>
          <div class="col-sm-7">
            <textarea class="form-control"
                      id="organization-desc"
                      name="desc"
                      rows="3"
                      msd-elastic
                      ng-model="editingInfo.description"
                      placeholder="机构简介"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="organization-telephone"
                 class="col-sm-3 control-label">客服电话</label>
          <div class="col-sm-7">
            <input class="form-control"
                      id="organization-telephone"
                      name="telephone"
                      ng-model="editingInfo.telephone"
                      placeholder="客服电话"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">机构类型</label>
          <div class="col-sm-7">
            <ui-select ng-model="editingInfo.type">
              <ui-select-match placeholder="请选择">{{editingInfo.type | orgType2Label}}</ui-select-match>
              <ui-select-choices repeat="orgType.value as orgType in orgTypes | filter:{label:$select.search}">
                <span ng-bind-html="orgType.label | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <!--
        <div class="form-group">
          <label class="col-sm-3 control-label">账户级别</label>
          <div class="col-sm-7">
            <label ng-if="organization.paid" class="form-control text-primary">高级账户</label>
            <a ng-if="!organization.isPaid" href="mailto:info@cloud3edu.com" target="blank" class="btn btn-sm rounded btn-primary">升级为高级用户</a>
          </div>
        </div>
        -->

        <hr/>

        <div class="form-group text-center">
          <button type="submit"
                  class="btn btn-danger rounded save-btn"
                  ng-disabled="saved || saving"
                  ng-click="saveOrg(orgForm)">
            <span ng-if="!saving">
              <span ng-if="!saved">保存</span>
              <span ng-if="saved">已保存</span>
            </span>
            <span ng-if="saving">
              <i class="fa fa-spinner fa-spin"></i>
              保存中
            </span>
          </button>
        </div>

      </form>
    </div>
  </tab>

  <!--支付宝信息-->
  <tab heading="支付宝信息">
    <div class="row admin-ui-view">
      <form id="org-alipay-form"
            class="form-horizontal col-md-10 col-md-offset-1"
            role="form"
            name="orgPaymentForm">
        <hr/>

        <div class="form-group">
          <label for="organization-alipayEmail"
                 class="col-sm-3 control-label">支付宝Email</label>
          <div class="col-sm-7">
            <input class="form-control"
                   id="organization-alipayEmail"
                   name="name"
                   ng-model="orgAlipay.email"
                   placeholder="支付宝Email"
                   required>
          </div>
        </div>

        <div class="form-group">
          <label for="organization-alipayPID"
                 class="col-sm-3 control-label">支付宝(PID)</label>
          <div class="col-sm-7">
            <input class="form-control"
                   id="organization-alipayPID"
                   name="name"
                   ng-model="orgAlipay.PID"
                   placeholder="支付宝(PID)"
                   required>
          </div>
        </div>

        <div class="form-group">
          <label for="organization-alipayKey"
                 class="col-sm-3 control-label">支付宝(Key)</label>
          <div class="col-sm-7">
            <input class="form-control"
                   id="organization-alipayKey"
                   name="name"
                   ng-model="orgAlipay.key"
                   placeholder="支付宝(Key)"
                   required>
          </div>
        </div>

        <hr/>

        <div class="form-group text-center">
          <button type="submit"
                  class="btn btn-danger rounded save-btn"
                  ng-disabled="alipaySaved || alipaySaving"
                  ng-click="saveOrgAlipay(orgPaymentForm)">
            <span ng-if="!alipaySaving">
              <span ng-if="!alipaySaved">保存</span>
              <span ng-if="alipaySaved">已保存</span>
            </span>
            <span ng-if="alipaySaving">
              <i class="fa fa-spinner fa-spin"></i>
              保存中
            </span>
          </button>
        </div>

      </form>
    </div>
  </tab>

  <!--机构定制化-->
  <tab heading="定制化">
    <div custom-org-banners-tile organization="organization"></div>
  </tab>

  <!--机构公告区-->
  <tab heading="机构公告区">
    <div org-broadcast-tile organization="organization"></div>
  </tab>

</tabset>
