.admin {
  .custom-banners{
    padding-bottom: 40px;
    .banner-edit{
      padding: 0px 20px 30px 20px;
      .hint{
        color: @brand-warning;
      }
    }
    .banner-content {
      background: white;
      border: 1px solid #EBEAEA;
    }
    .index {
      cursor: move;
      padding: 5px 10px 0 10px;
    }
    .banner-thumb{
      height: 98px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: @gray-lighter;
      margin: 5px 10px 5px 10px;
    }
    .banner-text {
      padding: 5px 10px 5px 10px;
      background: #EBEAEA;
      input {
        height: 30px;
      }
    }
    .banner{
      width: 100%;
      height: 220px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: @gray-lighter;
    }
  }
  .org-form {
    .org-logo {
      .avatar(130px);
      border-radius: 0;
      margin-bottom: 20px;
      background-image: none;
      &:before{
        display: none;
      }
    }
    .ui-select-bootstrap {
      max-width: 200px;
    }
    .form-group {
      padding-top: 5px;
      padding-bottom: 5px;
      .form-control {
        border-radius: 4px;
      }
    }
    .save-btn {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .broadcast-form{
    .form-title{
      background: #ddd;
      padding: 12px 18px;
      margin-bottom: 20px;
      .transition(all 0.2s ease-in-out);
    }
    background: transparent;
    &.blink{
      .form-title{
        background: @base-color;
        color: white;
      }
    }
  }
  .broadcast-browser{
    .title{
      background: #ddd;
      padding: 12px 18px;
    }
    .seach-bar{
      background: #eee;
      padding: 5px 18px;
      .search{
        height: 30px;
        background: #FFFFFF;
        border-radius: 16px;
        input{
          margin-top: 5px;
          border: none;
          outline: 0;
        }
        i{
          color: @base-color;
          margin-top: 7px;
          margin-right: -3px;
        }
      }
    }
    .list-group{
      margin-top: 20px;
      padding-right: 0;
    }
  }
  .custom{
    background-color: #FFF;
  }
  .custom-about-us{
  }
  .report-row{
    background-color: #FFF;
  }
}
.broadcast{
  border: none;
  border-bottom: 1px solid @gray-lighter;
  margin-bottom: 1px;
  &:hover{
    cursor: pointer;
  }
  &.collapsed{
    .broadcast-content{
      .text-overflow();
    }
  }
  &.expanded{
    border-left: 3px solid @base-color;
    .well{
      display: block;
    }
  }
  .well{
    display: none;
    margin-bottom: 0;
    padding: 4px 6px 5px 6px;
    border-radius: 4px;
    .btn-xs{
    }
  }
  .outer{
    border: 4px solid @base-color;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(red(@base-color),green(@base-color),blue(@base-color),0.3);
    .transition(all .2s ease-in-out);
    &.moved{
      left: -400px;
    }
  }
}
