<div class="row admin-ui-view">
  <div class="col-md-6">
    <form name="form"
          class="broadcast-form"
          ng-submit="postBroadcast(form)"
          novalidate>
      <div class="form-title">
        最新公告&nbsp;<i class="fa fa-send"></i>
      </div>
      <div class="form-group">
        <label for="titleInput">标题</label>
        <input id="titleInput"
               name="title"
               placeholder="请输入标题"
               class="form-control"
               ng-model="newBroadcast.title"
               required>
      </div>
      <div class="form-group">
        <label for="contentInput">内容</label>
        <textarea id="contentInput"
                  name="content"
                  cols="30"
                  placeholder="请输入内容"
                  rows="10"
                  style="height: 140px;"
                  class="form-control"
                  ng-model="newBroadcast.content"
                  required
                  msd-elastic>
        </textarea>
      </div>
      <div class="form-group pull-right">
        <button class="btn btn-danger"
                type="submit"
                ng-disabled="form.content.$invalid">
          发送
        </button>
        <button class="btn btn-default"
                type="reset">
          重置
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-6 broadcast-browser">
    <div class="title">已发公告<i class="fa fa-envelope envelope"></i></div>
    <div class="seach-bar col-xs-12">
      <div class="search col-xs-6">
        <i class="fa fa-search pull-right"></i>
        <input type="text" ng-model="viewState.broadcastQuery">
      </div>
    </div>
    <ul class="list-group col-xs-12">
      <li class="list-group-item broadcast"
          id="{{broadcast._id}}"
          ng-click="viewState.selectedBroadcast=broadcast"
          ng-class="{expanded:broadcast==viewState.selectedBroadcast,collapsed:broadcast!=viewState.selectedBroadcast}"
          ng-repeat="broadcast in broadcasts|orderBy: '-created'|filter:viewState.broadcastQuery|paging:itemsPerPage:currentBroadcastPage">
        <div class="clearfix">
          <h5 class="base-color pull-left">
            {{broadcast.title}}
            <br>
            <small class="text-muted">{{broadcast.created|date:'yyyy/MM/dd'}}</small>
          </h5>
          <div class="pull-right">
            <div class="well">
              <i class="btn btn-xs fa fa-send text-muted" ng-click="resend(broadcast)"></i>
              <i class="btn btn-xs fa fa-times text-muted" ng-click="removeBroadcast(broadcast)"></i>
            </div>
          </div>
        </div>
        <div class="broadcast-content" compile-html="broadcast.content">
        </div>
      </li>
    </ul>
    <pagination ng-hide="broadcasts.length <= itemsPerPage"
                total-items="broadcasts.length"
                ng-model="currentBroadcastPage"
                items-per-page="itemsPerPage"
                class="pagination-sm bud"
                boundary-links="true"
                rotate="false"
                max-size="maxSize"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                num-pages="numPages">
    </pagination>
  </div>
</div>
