<div>
  <div class="col-md-12">
    <div class="bud-datepicker-wrap">
      <button type="button"
              class="btn btn-default btn-sm rounded dropdown-toggle"
              datepicker-popup="'yyyy-MM-dd'"
              ng-model="classe.enrollment.from"
              is-open="viewState.enrollment.fromPopOpened"
              ng-click="prevent($event); viewState.enrollment.fromPopOpened = true"
              show-button-bar="false"
              datepicker-options="viewState.dateOptions">
        {{(classe.enrollment.from|date:'yyyy/MM/dd')||'请选择时间'}}
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>
  <div class="col-md-12" ng-if="!loading">
    <div class="panel">
      <h4>学生统计</h4>
      <table>
        <tr>
          <th>姓名</th>
          <th>活跃天数</th>
          <th>在线时长</th>
        </tr>
        <tr ng-repeat="studentAnalysis in studentAnalyses">
          <th>
            {{studentAnalysis.name}}
          </th>
          <th>
            {{studentAnalysis.days}}
          </th>
          <th>
            {{studentAnalysis.duration}}
          </th>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-12" ng-if="loading">
    <div class="panel">
      <h4>学生统计</h4>
      <table>
        <tr>
          <th>姓名</th>
          <th>活跃天数</th>
          <th>在线时长</th>
        </tr>
        <tr ng-repeat="studentAnalysis in studentAnalyses">
          <th>
            {{studentAnalysis.name}}
          </th>
          <th>
            {{studentAnalysis.days}}
          </th>
          <th>
            {{studentAnalysis.duration}}
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
