<div>
  <div class="modal-header">
    <h4 class="modal-title">
      账户激活
      <a class="close" ng-click="cancel()">&times;</a>
    </h4>
  </div>
  <div class="text-center modal-body">
    您的账户 <span class="text-primary">{{email}}</span> 尚未激活
    <p>请登录注册邮箱激活</p>

    <div class="body-footer">
      <span ng-show="emailHostAddress">
        <a class="btn btn-danger btn-sm rounded modal-btn"
           target="_blank"
           ng-href="{{emailHostAddress}}">
          马上激活
        </a>
        或
      </span>
      <a class="text-muted modal-btn" href ng-click="resendEmail()">
        <span ng-show="!viewState.sending">
          重新发送激活邮件
        </span>
        <span ng-if="viewState.sending">
          <i class="fa fa-spin fa-spinner"></i>
          发送中
        </span>
      </a>
    </div>

  </div>
</div>
