<form class="login-form"
      name="form"
      ng-submit="login(form)">
  <div class="form-group" ng-hide="loginUsers">
    <div class="input-group">
      <input class="form-control input-lg"
             type="text"
             placeholder="邮箱"
             ng-model="user.email"
             name="username"
             required>
      <div class="input-group-addon">
        <i class="budon budon-user"></i>
      </div>
    </div>
  </div>
  <div class="form-group" ng-hide="loginUsers">
    <div class="input-group">
      <input class="form-control input-lg"
             type="password"
             placeholder="密码"
             name="password"
             ng-model="user.password"
             required>
      <div class="input-group-addon">
        <i class="budon budon-lock"></i>
      </div>
    </div>
  </div>
  <div class="form-group" ng-hide="loginUsers">
    <a href ui-sref='signup' class="pull-left">
      <span ng-if="orgId">注册新用户</span>
      <span ng-if="!orgId">注册新机构</span>
    </a>
    <a href class="pull-right" ui-sref="forgot">忘记密码&nbsp;<i class="fa fa-question-circle"></i></a>
    <br>
  </div>
  <div class="form-group" ng-hide="loginUsers">
    <button class="btn btn-danger btn-lg rounded"
            ng-disabled="loggingIn"
            type="submit">
      <span ng-if="!loggingIn">
        登录
      </span>
      <span ng-if="loggingIn" >
        <i class="fa fa-spinner fa-spin"></i>
        登录中
      </span>
    </button>
  </div>
  <div class="form-group" ng-hide="loginUsers">
    <div class="col-xs-12">
      <div class="left-line"></div>
    </div>
  </div>
  <div ng-if="loginUsers">
    <div class="form-group" >
      <label>该邮箱注册了多个账户，请选择您要登录的账户</label>
    </div>
    <div class="form-group" ng-repeat="user in loginUsers">
      <div class="avatar-xs"
           src-key="user.avatar"
           source-attr="background-image"></div>&nbsp;
      <a href ng-click="login(form, user.orgId._id)">{{user.name}} - {{user.orgId.name}}</a>
    </div>
    <div class="form-group">
      <button class="btn btn-link" ng-click="loginAgain()">返回</button>
    </div>
  </div>

</form>
