<div class="modal-header">
  <h4 class="modal-title">
    <i class="budon budon-course-classe"></i>
    <span ng-if="!classe._id">创建新班级</span>
    <span ng-if="classe._id">编辑班级</span>
    <a class="close" ng-click="cancel()">&times;</a>
  </h4>
</div>
<form class="form-horizontal edit-classe-form" novalidate
      name="form">

  <div class="form-group">
    <span class="control-label col-sm-3">班级名</span>
    <div class="col-sm-8">
      <input class="form-control"
             id="classe-name"
             ng-init="nameInputFocus=true"
             focus-me="nameInputFocus"
             placeholder="请输入班级名称"
             ng-model="classe.name"
             required>
      <small class="text-danger" ng-if="errors.name">{{ errors.name.message }}</small>
    </div>
  </div>
  <div class="form-group" ng-if="courses.length">
    <span class="control-label col-sm-3">课程名</span>
    <div class="col-sm-8">
      <select
        class="form-control"
        id="classe-course"
        ng-model="classe.courseId"
        ng-options="course._id as course.name for course in courses"
        required>
        <option value="" class="text-muted">请选择一门课程</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <span class="control-label col-sm-3">价格</span>
    <div class="col-sm-4">
      <div class="input-group">
        <input class="form-control"
               id="classe-price"
               placeholder="请输入价格"
               type="number"
               min="0"
               ng-model="classe.price"
               required>
        <div class="input-group-addon">元</div>
      </div>
      <small class="text-danger" ng-if="errors.name">{{ errors.name.message }}</small>
    </div>
  </div>

  <div class="classe-times">
    <div class="form-group bud-datepicker-wrap">
      <span class="control-label col-sm-3">上课时间</span>
      <div class="col-sm-8">
        从&nbsp;<button type="button" class="btn btn-default rounded dropdown-toggle"
          datepicker-popup="'yyyy-MM-dd'"
          ng-model="classe.duration.from"
          is-open="viewState.duration.fromPopOpened"
          ng-click="viewState.duration.fromPopOpened = true;"
          show-button-bar="false"
          datepicker-options="dateOptions">
          {{(classe.duration.from|date:'yyyy/MM/dd')||'请选择时间'}} <i class="fa fa-calendar"></i>
        </button>

        到&nbsp;<button type="button" class="btn btn-default rounded dropdown-toggle"
          datepicker-popup="'yyyy-MM-dd'"
          ng-model="classe.duration.to"
          is-open="viewState.duration.toPopOpened"
          min-date="classe.duration.from"
          ng-click="viewState.duration.toPopOpened = true;"
          show-button-bar="false"
          datepicker-options="dateOptions">
          {{(classe.duration.to|date:'yyyy/MM/dd')||'请选择时间'}} <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>

    <div class="form-group bud-datepicker-wrap">
      <span class="control-label col-sm-3">报名时间</span>
      <div class="col-sm-8">
        从&nbsp;<button type="button" class="btn btn-default rounded dropdown-toggle"
          datepicker-popup="'yyyy-MM-dd'"
          ng-model="classe.enrollment.from"
          is-open="viewState.enrollment.fromPopOpened"
          ng-click="viewState.enrollment.fromPopOpened = true;"
          show-button-bar="false"
          datepicker-options="dateOptions">
          {{(classe.enrollment.from|date:'yyyy/MM/dd')||'请选择时间'}} <i class="fa fa-calendar"></i>
        </button>

        到&nbsp;<button type="button" class="btn btn-default rounded dropdown-toggle"
          datepicker-popup="'yyyy-MM-dd'"
          ng-model="classe.enrollment.to"
          is-open="viewState.enrollment.toPopOpened"
          min-date="classe.enrollment.from"
          ng-click="viewState.enrollment.toPopOpened = true;"
          show-button-bar="false"
          datepicker-options="dateOptions">
          {{(classe.enrollment.to|date:'yyyy/MM/dd')||'请选择时间'}} <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span class="control-label col-sm-3">授课教师</span>
    <div class="col-sm-8">
      <select
        class="form-control"
        id="classe-teacher"
        ng-model="selectedTeacher"
        ng-change="addTeacher(selectedTeacher); selectedTeacher=null"
        ng-options="teacher as teacher.name for teacher in teachers | without:classe.teachers:'_id'">
        <option value="" class="text-muted">请选择授课教师</option>
      </select>
      <div class="row-fluid classe-teachers">
        <span ng-repeat="teacher in classe.teachers">
          <div class="label label-default"
               style="font-size: 1em; line-height:2em; margin-right:.2em">
            {{teacher.name}}
            <a ng-click="removeTeacher($index)"
               class="close">&times;</a>
          </div>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-3">
      <span style="float: right">
        <button type="button"
                class="btn btn-default rounded"
                ng-click="cancel()">取消</button>
        <button type="submit"
                class="btn btn-danger rounded"
                ng-click="confirm(form)">确认</button>
      </span>
    </div>
  </div>

</form>
