@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

 .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (orientation: portrait) {
  .container {
    max-width: 730px;
  }
}

// injector
@import 'account/forgot/forgot.less';
@import 'account/notice/notice.less';
@import 'account/profile/profile.less';
@import 'account/reset/reset.less';
@import 'account/settings/settings.less';
@import 'account/signup/signup.less';
@import 'admin/admin.less';
@import 'admin/categoryManager/categoryManager.less';
@import 'admin/categoryManager/categoryManagerCourseDetail.less';
@import 'admin/categoryManager/categoryManagerDetail.less';
@import 'admin/manageItemsList.less';
@import 'admin/manageUsersList.less';
@import 'admin/newItemModal.less';
@import 'admin/newUserModal.less';
@import 'admin/orderManager/orderManager.less';
@import 'admin/organizationManager/organizationManager.less';
@import 'admin/organizationManager/reports.less';
@import 'admin/teacherManager/teacherManager.less';
@import 'admin/teacherManager/teacherManagerDetail.less';
@import 'calendar/calendar-tile.less';
@import 'classeManager/classeManager.less';
@import 'classeManager/classeManagerDetail.less';
@import 'classeManager/editClasseModal.less';
@import 'comment/comments.less';
@import 'course/courseDetail/courseDetail.less';
@import 'course/courseList/courseList.less';
@import 'course/courseStats/courseStats.less';
@import 'course/lectureDetail/lectureAnswers.less';
@import 'course/lectureDetail/lectureDetail.less';
@import 'course/lectureNotes/lectureNotes.less';
@import 'directives/coolProjector/coolProjector.less';
@import 'directives/courseTile/courseTile.less';
@import 'directives/courseTile/publicCourseTile.less';
@import 'directives/features/featureList.less';
@import 'directives/imageZoom/imageZoomViewer.less';
@import 'directives/loginForm/activateModal.less';
@import 'directives/loginForm/loginForm.less';
@import 'directives/orderDetail/orderDetail.less';
@import 'directives/orderDetail/paymentConfirmModal.less';
@import 'directives/pptViewer/pptViewer.less';
@import 'directives/questionAnswer/questionAnswer.less';
@import 'directives/registerForm/registerForm.less';
@import 'directives/searchInput/searchInput.less';
@import 'directives/shopcart/shopcart.less';
@import 'directives/student-list/student-list.less';
@import 'directives/timetable/timetable.less';
@import 'editor/bud-editor.less';
@import 'forum/discussionComposerPopup/discussionComposerPopup.less';
@import 'forum/editForum/editForumModal.less';
@import 'forum/forum.less';
@import 'forum/forumDetail/forumDetail.less';
@import 'forum/forumDetail/topicList.less';
@import 'forum/forumList/forumList.less';
@import 'forum/forumTile/forum-tile.less';
@import 'forum/forumTopic/forumTopic.less';
@import 'forum/forumTopic/topicDetail.less';
@import 'help/payFailed.less';
@import 'home/home.less';
@import 'imageCrop/image-crop.less';
@import 'login/loginModal.less';
@import 'main/default/main-default.less';
@import 'main/org/courseListTile.less';
@import 'main/org/main-org.less';
@import 'main/xqsh/xqsh.less';
@import 'order/order.less';
@import 'order/orderList/orderList.less';
@import 'social/social.less';
@import 'superuser/superuser.less';
@import 'superuser/superuserHome/superuserHome.less';
@import 'teacher/teacher.less';
@import 'teacher/teacherCourse/classe-tile.less';
@import 'teacher/teacherCourse/teacherCourse.less';
@import 'teacher/teacherCourse/teacherNewCourse.less';
@import 'teacher/teacherCourseStats/teacherCourseStats.less';
@import 'teacher/teacherLecture/editLectureKeyPoints.less';
@import 'teacher/teacherLecture/editLectureQuestions.less';
@import 'teacher/teacherLecture/lectureFilesEditor.less';
@import 'teacher/teacherLecture/markOfflineWorks.less';
@import 'teacher/teacherLecture/newQuestion.less';
@import 'teacher/teacherLecture/teacherLecture.less';
@import 'teacher/teacherQuestionLibrary/teacherQuestionItem.less';
@import 'teacher/teacherQuestionLibrary/teacherQuestionItemStats.less';
@import 'teacher/teacherQuestionLibrary/teacherQuestionLibrary.less';
@import 'teacher/teacherTeaching/pubQuestion.less';
@import 'teacher/teacherTeaching/teacherTeaching.less';
@import 'test/test/test.less';
@import 'theme/Jcrop.less';
@import 'theme/a.less';
@import 'theme/accordion.less';
@import 'theme/anchor.less';
@import 'theme/animations.less';
@import 'theme/avatar.less';
@import 'theme/blog.less';
@import 'theme/breadcrumb.less';
@import 'theme/bud-font.less';
@import 'theme/buttons.less';
@import 'theme/chart.less';
@import 'theme/checkbox.less';
@import 'theme/datepicker.less';
@import 'theme/footer.less';
@import 'theme/form.less';
@import 'theme/images.less';
@import 'theme/jumbotron.less';
@import 'theme/list-group.less';
@import 'theme/mixin.less';
@import 'theme/modals.less';
@import 'theme/navbar.less';
@import 'theme/navs.less';
@import 'theme/navtabs.less';
@import 'theme/pager.less';
@import 'theme/pages.less';
@import 'theme/radio.less';
@import 'theme/scrollbar.less';
@import 'theme/section.less';
@import 'theme/slides-list.less';
@import 'theme/tag.less';
@import 'theme/theme.less';
@import 'theme/thumbnails.less';
@import 'theme/videos.less';
@import 'modal/messageModal.less';
// endinjector
