<div>
  <div class="modal-header">
    <h4 class="modal-title">
      网上支付提示
      <a class="close" ng-click="cancel()">&times;</a>
    </h4>
  </div>
  <div class="text-center payment-modal-body">
    <div ng-switch="order.status">

      <div ng-switch-when="unpaid">
        <span class="text-muted">
          支付完成前，请不要关闭此支付验证窗口。</br>
          支付完成后，请根据您的支付情况点击下面按钮。
        </span>
        <div class="confirm-row">
          <button class="btn btn-sm rounded" ng-click="payFailed()">支付遇到问题</button>
          <button class="btn btn-sm btn-danger rounded" ng-click="paySucceed()">支付成功</button>
        </div>
      </div>

      <div ng-switch-when="succeed">
          您已成功支付<span style="color: #F1582A;">{{order.totalFee}}</span>元！
        <div class="confirm-row">
          <button class="btn btn-sm btn-danger rounded" ng-click="paySucceed()">确定</button>
        </div>
      </div>

      <div ng-switch-default>
        <span class="text-muted">
          支付失败。
        </span>
        <div class="confirm-row">
          <button class="btn btn-sm rounded" ng-click="payFailed()">查看帮助</button>
        </div>
      </div>

    </div>
  </div>
</div>
