.forum-topic-view{
  background: @gray-lighter;
  &.header{
  }
  .forum-topic-view-right{
    .view-section{
       hr{
        margin-top: 5px;
      }
    }
  }
  .recommends{
    .recommended-topic{
      &:hover{
        text-decoration: none;
      }
      .media-summary{
        color: @gray-light;
        height: 60px;
        margin-bottom: 0;
        overflow: hidden;
        .mask-image(-webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 0.0))));
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
      }
      .media-left{
        display: inline-block;
        width: 70px;
        overflow: hidden;
        h6{
          width: 100%;
        }
      }
      .media-body{
        display: inline-block;
        width: ~"calc(100% - 80px)";
      }
    }
    .status{
      display: inline-block;
      color: @gray;
      .fa-heart{
        cursor: pointer;
        &.active{
          color: @brand-danger;
        }
      }
      .fa-eye{
        color: @gray;
      }
      .fa-comments{
        color: @base-color;
      }
    }
  }
}
