<div class="bud topic-detail">
  <div ng-show="topic">
    <div class="bud article">
      <div class="article-header media">
        <div class="avatar-lg pull-left"
          source-attr="background-image"
          src-key="topic.postBy.avatar"
          suffix="?imageView2/1/w/64/h/64">
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            {{topic.title}}
          </h4>
          <div class="spans">
            <span>
              <span class="poster-name">
                {{topic.postBy.name}}
              </span>
              <span class="text-muted created-time">发表于{{topic.created|timeToTimeAgo}}</span>
            </span>
            <span class="status">
              <i class="fa fa-eye"></i>
              {{topic.viewers.length||0}}
              <i class="fa fa-comments"></i>
              {{topic.commentsNum||0}}
              <i class="fa fa-heart"></i>
              {{topic.likeUsers.length||0}}
            </span>
          </div>
        </div>
      </div>

      <div class="article-body">
        <div class="clearfix title-row tags-bar" ng-if="topic.tags.length">
          <div class="title-row-header">标签<hr></div>
          <div class="view-section all-tags clearfix">
            <a href class="tag pull-left" ng-repeat="tag in topic.tags" tooltip="{{tag.name}}">{{tag.name}}</a>
          </div>
          <hr>
        </div>
        <div class="blog" compile-html="topic.content" >
        </div>
        <div class="article-voteup text-center"
          ng-class="{'active':topic.likeUsers.indexOf(me()._id)>=0}"
          ng-click="toggleLike(topic)">
          <i class="fa fa-heart"></i>
          <hr>
          {{topic.likeUsers.length||0}}
        </div>
      </div>
    </div>

    <comments belong-to="topic._id" active-comment="dataId" type="1"></comments>

  </div>
</div>
