<div>
  <section class="teacher-course" ng-class="{'editing':viewState.editingInfo}">
    <div class="container">
      <div class="row">


        <div class="col-md-12 course-info" ng-init="viewState.displayView='info'">
          <div class="course-actions-bar clearfix">
            <h3 class="course-title pull-left" ng-if="!viewState.editingInfo">
              {{course.name}}
            </h3>
            <input ng-if="viewState.editingInfo" type="text" class="form-control course-title pull-left" ng-model="course.name">
            <div class="pull-right" style="margin-top: 5px;">
              <a href="" class="btn btn-sm rounded" ng-class="{'btn-primary':!course.isPublished,'btn-default':course.isPublished}" ng-click="togglePublish($event)">
                {{course.isPublished?'取消发布':'发布'}}
              </a>
              <span class="text-muted">|</span>
              <a href="" class="btn btn-sm rounded btn-danger" ng-if="viewState.editingInfo" ng-click="saveCourseInfo()">
                保存
              </a>
              <span ng-if="!viewState.editingInfo" dropdown class="setting-btn" style="position: relative;">
                <a href="" class="btn btn-sm" dropdown-toggle>
                  <i class="fa fa-gear"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" ng-click="viewState.editingInfo = true">编辑</a></li>
                  <li><a href="" ng-click="removeCourse()">删除</a></li>
                </ul>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 course-info-left">
              <div class="course-thumbnail"
                src-key="course.thumbnail"
                source-attr="background-image">
              </div>
            </div>
            <div class="col-md-5 course-info-right">

              <div class="course-status">
                <i class="fa fa-clock-o"></i>&nbsp;{{course.lectureAssembly.length||0}}总课时
              </div>

              <div class="classe-select" ng-if="!viewState.editingInfo">
                <span class="classe-label">科目：</span> <span>{{course.categoryId.name}}</span>
              </div>

              <div class="classe-select" ng-if="viewState.editingInfo">
                <span class="classe-label">科目：</span>
                <select ng-model="course.$category"
                        class="form-control"
                        ng-disabled="!viewState.editingInfo"
                        ng-options="category.name for category in categories">
                </select>
              </div>
              <hr>
              <div class="owner" ng-repeat="owner in course.owners">
                <div class="avatar-lg col-md-2"
                     source-attr="background-image"
                     src-key="owner.avatar"
                     suffix="?imageView2/1/w/64/h/64">
                </div>
                <div class="owner-name-title col-md-5">
                  <span class="owner-name">{{owner.name||'某老师'}}</span>
                  <span class="owner-title">{{owner.title}}</span>
                </div>
                <div class="owner-info text-muted pull-left col-md-5">
                  {{owner.info}}
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="col-md-12">
          <div class="course-stuff">
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" ng-class="{'active':viewState.displayView=='info'}"><a href="" ng-click="viewState.displayView='info'">课程信息</a></li>
              <li role="presentation" ng-class="{'active':viewState.displayView=='lectures'}"><a href="" ng-click="viewState.displayView='lectures'">课时列表</a></li>
              <li role="presentation" ng-class="{'active':viewState.displayView=='comments'}"><a href="" ng-click="viewState.displayView='comments'">评论({{course.commentsNum||0}})</a></li>
            </ul>

            <hr>

            <div ng-show="viewState.displayView=='info'">
              <div class="course-desc">
                <h4>
                  <i class="glyphicon glyphicon-bookmark base-color"></i>&nbsp;课程概要
                </h4>
                <input type="text" class="form-control" ng-model="course.info" ng-disabled="!viewState.editingInfo">

                <h4>
                  <i class="glyphicon glyphicon-bookmark base-color"></i>&nbsp;课程详细内容
                </h4>
                <div class="blog" ng-if="!viewState.editingInfo" compile-html="course.description">
                </div>
                <text-angular class="bud" ng-model="course.description" ng-if="viewState.editingInfo"></text-angular>
              </div>
            </div>

            <teacher-course-lectures course="course" ng-show="viewState.displayView=='lectures'"
                                     classe="selectedClasse"></teacher-course-lectures>

            <comments belong-to="course._id" type="2" ng-show="viewState.displayView=='comments'" active-comment="dataId"></comments>

          </div>
        </div>
      </div>
    </div>
  </section>

</div>
