.new-course-modal {
  .bud-modal;
  .new-course-form {
    &.form-horizontal .control-label {
      text-align: left;
    }
    input {
      border-radius: 4px;
    }
    .input-group-addon {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .image-content-wrap{
      height: 300px;
      width: 100%;
      padding-top: 1px;
      position: relative;
    }
    .image-content {
      position: absolute;
      height: 100%;
      left: 15px;
      right: 15px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: @gray-lighter;
      &.has-content{
        .transition();
        &.hover{
          .filter(grayscale(0.7));
        }
      }
    }
    .course-img {
      position: absolute;
      width: 100px;
      display: block;
      left: ~"calc(50% - 50px)";
      top: 125px;
    }
    .has-content + .course-img {
      opacity: 0.7;
    }
  }
}


