<div id="lectures-{{course._id}}" >
  <div class="row course-lectures">
    <div class="col-md-12 lecture-list-group"
         ng-if="course._id">
      <div class="lectures-header">

        <span class="title">
          共
          <span class="total-num">{{course.lectureAssembly.length}}</span>
          个课时
        </span>

        <search-input keyword="keyword"
                      placeholder="课时关键字搜索">
        </search-input>

        <button class="btn btn-danger pull-right btn-sm"
                ng-disabled="creating"
                ng-click="createLecture()">
          <span ng-if="!creating">
            <i class="fa fa-plus"></i>
            添加课时
          </span>
          <span ng-if="creating">
            <i class="fa fa-spinner fa-spin"></i>
            添加中
          </span>
        </button>
      </div>
      <hr class="hr-title"/>
      <div class="list-group lecture-list"
           sv-root
           sv-on-sort="sortLecture()"
           sv-part="course.lectureAssembly"
           ng-if="course.lectureAssembly.length>0">
        <div sv-placeholder class="lecture-placeholder text-center">
          <label>释放鼠标，可将课时放置在这个位置</label>
        </div>
        <div class="stretch lecture-item"
             sv-element
             ng-show="filter(lecture, keyword)"
             ng-repeat="lecture in course.lectureAssembly">
          <a class="lecture-content list-group-item">
            <label ui-sref="teacher.lecture({courseId:course._id, lectureId:lecture._id})">
              {{lecture.name}}
            </label>
            <small ng-if="lecture.isFreeTry" class="info text-muted">免费试用</small>
            <div class="pull-right">
              <button type="button"
                      tooltip="点住鼠标，上下拖动可以改变课时的顺序"
                      tooltip-append-to-body="true"
                      class="btn btn-default glyphicon glyphicon-sort"></button>
              <button type="button"
                      tooltip="删除该课时"
                      tooltip-append-to-body="true"
                      class="btn btn-default glyphicon glyphicon-remove"
                      ng-click="deleteLecture(lecture)">
              </button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
