<div class="modal-header">
  <h4 class="modal-title">
    <i class="budon budon-add-course"></i>
    创建新课程
  </h4>
  <a class="close" ng-click="cancel()">&times;</a>
</div>

<form class="form-horizontal new-course-form modal-body"
      name="form">
  <div class="form-group form-group-sm">
    <span class="control-label col-sm-3">课程名</span>
    <div class="col-sm-9">
      <input class="form-control"
             id="course-name"
             name="name"
             type="text"
             focus-me="focusCourseNameInput"
             ng-init="focusCourseNameInput=true"
             ng-model="course.name"
             placeholder="请输入课程名称"
             required>
      <small class="text-danger" ng-if="errors.name">
        {{ errors.name.message }}
      </small>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <span class="control-label col-sm-3">专业</span>
    <div class="col-sm-9">
      <select class="form-control"
              id="course-category"
              ng-model="course.categoryId"
              ng-options="category._id as category.name for category in categories"
              required>
        <option value="" class="text-muted">请选择一门专业</option>
      </select>
      <small class="text-danger"
             ng-if="errors.category">请选择一个专业</small>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <div class="control-label col-sm-3">封面图片</div>
    <div class="col-sm-12 image-content-wrap">
      <div class="image-content" src-key="course.thumbnail" ng-class="{'has-content':course.thumbnail,'hover':viewState.hover}" source-attr="background-image">
      </div>
      <uploader limit="{{imageSizeLimitation}}"
                class="course-img btn-danger btn-sm"
                on-complete="onThumbUploaded($data)"
                accept-type="image"
                crop="true"
                ng-mouseenter="viewState.hover=true"
                ng-mouseleave="viewState.hover=false"
                crop-ratio="1.5"
                max-width="1000">
        <span class="glyphicon glyphicon-picture"></span>
        {{course.thumbnail?'修改图片':'上传封面'}}
      </uploader>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-sm btn-default"
            ng-click="cancel()">取消</button>
    <button type="submit"
            class="btn btn-sm btn-danger"
            ng-click="confirm(form)">确认</button>
  </div>
</form>
