<div class="bud navbar navbar-default main-nav"
     ng-class="[$state.current.navClasses, org?'org-nav':'home-nav']"
     ng-controller="NavbarCtrl">

  <div class="container"
       ng-if="!org">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed"
              ng-click="switchMenu(!viewState.isCollapsed)"
              type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="assets/images/vectors/logo-with-title.svg" alt="">
      </a>
    </div>

    <div class="navbar-collapse collapse"
         collapse="viewState.isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://www.cloud3edu.cn/blog" target="blank">博客</a>
        </li>
        <!-- <li>
          <a href="/assets/html/docs/help.html" target="blank">帮助文档</a>
        </li> -->
      </ul>
    </div>
  </div>

  <div class="container"
       click-outside="switchMenu(true)"
       is-active="!viewState.isCollapsed"
       ng-if="org">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button class="navbar-toggle collapsed"
              ng-click="switchMenu(!viewState.isCollapsed)"
              type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="main" href
         class="navbar-brand">
        <img ng-src="{{org.logo}}" alt="">
        <span ng-if="org">
          {{org.name}}
        </span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse"
         collapse="viewState.isCollapsed">
      <ul class="bud nav navbar-nav navbar-right">
        <li ng-if="Auth.hasRole('student') && !Auth.hasRole('admin')" ng-class="{active: isActive('home')}">
          <a href ui-sref='home'>个人主页</a>
        </li>
        <li ng-if="Auth.hasRole('admin')" ng-class="{active: isActive('admin.home')}">
          <a class="text-center" ui-sref="admin.home">机构管理</a>
        </li>
        <li ng-class="{active: isActive('courseList')}">
          <a href ui-sref='courseList'>所有课程</a>
        </li>
        <li ng-class="{active: isActive('forum.list')}">
          <a href ui-sref="forum.list">讨论</a>
        </li>
        <li ng-if="displayCourseMenu() && Auth.hasRole('teacher')">
          <a href ui-sref="teacher.questionLibrary({courseId:$state.params.courseId})">题库</a>
        </li>
        <li ng-if="displayCourseMenu() && Auth.hasRole('teacher')">
          <a href ui-sref="teacher.courseStats.all({courseId:$state.params.courseId})">统计</a>
        </li>
        <li ng-if="displayCourseMenu() && !Auth.hasRole('teacher')">
          <a href ui-sref="course.stats()">统计</a>
        </li>

        <li ng-if="Auth.getCurrentUser().role == 'student'" shopcart></li>
        <li ng-if="!Auth.isLoggedIn()">
          <a href login-window>登录</a>
        </li>
        <li ng-if="Auth.isLoggedIn()"
            dropdown>
          <div class="dropdown-toggle avatar-name">
            <a class="navbar-avatar"
               src-key="Auth.getCurrentUser().avatar"
               suffix="?imageView2/1/w/64/h/64"
               source-attr="background-image">
            </a>
            <span class="user-name">{{Auth.getCurrentUser().name}}<span class="caret"></span></span>
          </div>
          <ul class="dropdown-menu profile-menu dropdown-toggle" role="menu">
            <li ng-if="Auth.getCurrentUser().role == 'student'">
              <a ui-sref="orderList"
                 ui-sref-opts="{reload: true}"
                 rel="nofollow">
              我的订单</a></li>
            <hr ng-if="Auth.getCurrentUser().role == 'student'">
            <li><a ui-sref="settings.broadcast"
                   rel="nofollow">
              公告信息</a></li>
            <li>
              <a ui-sref="settings.notice"
                 ui-sref-opts="{reload: true}"
                 rel="nofollow">
                我的消息<span class="badge pull-right"
                          ng-show="getMsgCount()">
                {{getMsgCount()||'0'}}
                </span>
              </a>
            </li>
            <hr>
            <li><a ui-sref="settings.profile"
                   ui-sref-opts="{reload: true}"
                   rel="nofollow">
              个人设置</a></li>
            <li>
              <a href ng-click="logout()"
                 data-method="delete"
                 rel="nofollow">
                退出登录
              </a>
            </li>
          </ul>
          <span class="badge"
                style="position: absolute;top: 9px;left: 18px;"
                ng-show="getMsgCount()">
            {{getMsgCount()||'0'}}
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav-loading" ng-show="$loading"></div>
</div>
