<section full-page
  class="home-section center-wrap"
  id="main"
  src-key="'/assets/images/classroom.jpg'"
  source-attr="background-image">
  <div class="text-center center-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 description">
          <div class="description-content" style="max-width: 500px;margin: auto;">
            <h2>教育的云计算时代<br>从云立方学院开始！</h2>
            <h5>5秒钟创建班级，1分钟课程上线；实时互动，多维统计，全新“教”与“学”的体验随时陪伴，在指尖跳跃！</h5>
            <div class="apps clearfix hidden-xs">
              <div class="col-sm-4 app" dropdown>
                <a href="" class="dropdown-toggle">
                  <i class="fa fa-apple"></i>
                  云立方-iPhone
                  <br>
                  v1.0 | 2014.11.18
                </a>
                <ul class="dropdown-menu">
                  <li>
                    正在加紧开发中。。。
                  </li>
                </ul>
              </div>
              <div class="col-sm-4 app" dropdown>
                <a href="" class="dropdown-toggle">
                  <i class="fa fa-android"></i>
                  云立方-Android
                  <br>
                  v0.0.1 | 2014.12.12
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="http://public-cloud3edu-com.qiniudn.com/android/v0_0_1/cloud3edu-release.apk" class="text-center" target="blank">
                      <img src="/assets/images/androidQR.png" alt="cloud3edu-release-0.0.1.apk">
                      <br>点击下载
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-4 app" dropdown>
                <a href="" class="dropdown-toggle">
                  <i class="fa fa-wechat"></i>
                  微信公众号
                  <br>
                  学之方教育科技
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <img src="/assets/images/wechatQR.jpg" alt="">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <login-form style="margin:auto;"></login-form>
        </div>
      </div>
    </div>
  </div>
  <a href="{{org?'#courses-section':'#features-header'}}" class="btn know-more" du-smooth-scroll>
    了解更多
    <br>
    <i class="fa fa-chevron-down"></i>
  </a>

</section>

<section full-page ng-if="org" id="courses-section" class="home-section center-wrap">
  <div class="center-content">
    <div class="container">
      <div class="col-md-3 col-sm-4" ng-repeat="course in courses">
        <a ui-sref="course({courseId:course._id})">
          <course-tile course="course"></course-tile>
        </a>
      </div>
    </div>
  </div>
</section>

<feature-list title="云立方学院可以为您带来什么？" ng-if="!org" distance="{{distance}}"></feature-list>

<section full-page
  class="home-section text-center center-wrap"
  id="contacts"
  ng-if="!org"
  src-key="'/assets/images/timetable_back.png'"
  source-attr="background-image">
  <div class="center-content">
    <div class="section_header">
      <h1>
        <i class="budon budon-diamond"></i><i class="budon budon-diamond"></i><i class="budon budon-diamond"></i>
        如果您的教育机构需要
        <i class="budon budon-diamond"></i><i class="budon budon-diamond"></i><i class="budon budon-diamond"></i>
      </h1>
    </div>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <ul class="advantages">
          <li><i class="fa fa-check"></i>快速部署在线教育服务，追踪教学过程</li>
          <li><i class="fa fa-check"></i>增强教学和学习体验，机构竞争优势</li>
          <li><i class="fa fa-check"></i>利用课堂实时互动，增强学习效率</li>
          <li><i class="fa fa-check"></i>使用云服务，统计分析大量教学数据</li>
          <li><i class="fa fa-check"></i>充分融合线上和线下的教学</li>
        </ul>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <a href="mailto:info@cloud3edu.com" target="blank" class="btn btn-warning btn-lg rounded mail-to">
          请联系我们进入云立方学院
        </a>
      </div>
    </div>
  </div>
</section>

<a href="#main" du-smooth-scroll class="back-to-top" du-scrollspy offset="120">
  <i class="fa fa-chevron-up"></i>
</a>

