<div class="modal-header schedule-popup">
  <h4 class="modal-title">制定课程计划</h4>
  <a href ng-click="close()" class="btn btn-crystal rounded close"><i class="fa fa-times"></i></a>
</div>
<div class="modal-body schedule-popup">

  <div class="clearfix title-row row">
    <div class="form-group col-xs-6">
      <ui-select ng-model="viewState.course" ng-disabled="isBusy()" on-select="resetClasse($item)">
        <ui-select-match placeholder="选择课程">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="option as option in courses |filter: $select.search" >
          <div ng-bind-html="option.name | highlight: $select.search" class="tag-option" ></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group col-xs-6">
      <ui-select ng-model="viewState.classe" ng-disabled="isBusy()||!viewState.course">
        <ui-select-match placeholder="选择班级">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="option as option in viewState.course.classes | filter: $select.search">
          <div ng-bind-html="option.name | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="clearfix title-row row">
    <div class="form-group col-xs-12">
      从<div class="btn-group" dropdown>
        <button type="button" class="btn btn-default rounded dropdown-toggle">
          {{viewState.startDate||'请选择时间'|date:'yyyy/MM/dd'}} <i class="fa fa-calendar"></i>
        </button>
        <div class="dropdown-menu" role="menu">
          <datepicker ng-model="viewState.startDate" show-weeks="false" class="bud datepicker"></datepicker>
        </div>
      </div>
      到<div class="btn-group" dropdown>
        <button type="button" class="btn btn-default rounded dropdown-toggle">
          {{viewState.endDate||'请选择时间'|date:'yyyy/MM/dd'}} <i class="fa fa-calendar"></i>
        </button>
        <div class="dropdown-menu" role="menu">
          <datepicker ng-model="viewState.endDate" show-weeks="false" class="bud datepicker"></datepicker>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix title-row row shifts">
    <div class="col-md-12 clearfix header">
      时间段<i class="fa fa-question hint-icon" tooltip="选择重复方式"></i>
      <button class="btn btn-danger btn-xs rounded pull-right" ng-click="addShift()"><i class="fa fa-plus-circle"></i>加新时段</button>
    </div>
    <div class="col-md-12">
      <table class="shifts-table">
        <tr>
          <th class="shift-rule">规则</th>
          <th class="shift-start">开始时间</th>
          <th class="shift-duration">用时（小时）</th>
        </tr>
        <tr ng-repeat="shift in shifts">
          <td>
            <div class="btn-group" dropdown is-open="shift.$isOpen">
              <button type="button" class="btn btn-default rounded dropdown-toggle">
                {{shift.weekday.title}} &nbsp;<i class="fa fa-chevron-down"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="weekday in weekdays"><a href="" ng-click="shift.weekday = weekday;shift.$isOpen = false">{{weekday.title}}</a></li>
              </ul>
            </div>
          </td>
          <td>
            <timepicker ng-model="shift.start" hour-step="'1'" minute-step="'5'"></timepicker>
          </td>
          <td>
            <input type="number" ng-model="shift.last">
          </td>
          <td>
            <a href="" ng-click="removeShift(shift)"><i class="fa fa-times"></i></a>
          </td>
        </tr>
      </table>
    </div>

  </div>

</div>
<div class=" modal-footer schedule-popup">
  <button class="btn btn-danger" ng-click="create()"
  ng-disabled="!viewState.course||!viewState.classe||!viewState.startDate||!viewState.endDate||!viewState.startTime||!viewState.endTime">提交</button>
  <button class="btn btn-default" ng-click="close()">取消</button>
</div>
