<div class="bud thumbnail course-tile">
  <div class="back"
       src-key="course.thumbnail"
       source-attr="background-image"
       suffix="-tile">
  </div>
  <div class="caption">
    <div class="clearfix owner">
      <div class="avatar-xs pull-left"
           source-attr="background-image"
           src-key="classe.teachers[0].avatar"
           suffix="?imageView2/1/w/64/h/64">
      </div>
      <span class="name text-muted small">{{classe.teachers[0].name}}</span>
    </div>
    <h5 class="course-name">
      {{classe.name || course.name}}<br>
    </h5>
    <hr>

    <!--Student View-->
    <div class="lecture-info text-muted small" 
         ng-if="!Auth.hasRole('teacher')">
      <span ng-if="!percentageCalculated">进度计算中...</span>
      <span class="thermometer" ng-if="percentageCalculated">
        <span class="thermometer-inner" ng-style="{'width':percentage+'%'}"></span>
      </span>
      <span ng-if="percentageCalculated">
        {{percentage}}%
      </span>
      <span ng-if="percentageCalculated" class="pull-right">
        <a href 
           ng-if="course.lectureAssembly.length" 
           class="btn btn-danger btn-xs rounded continue-btn" 
           ng-click="continueStudying($event)">
          {{percentage==0?'开始':'继续'}}
        </a>
        <span class="text-muted" ng-if="!course.lectureAssembly.length">
          未开始
        </span>
      </span>
    </div>

    <!--Teacher View-->
    <div class="lecture-info text-muted small" 
         ng-if="Auth.hasRole('teacher')">
      {{course.categoryId.name}}
      <span class="pull-right">{{course.lectureAssembly.length}} 课时</span>
    </div>
  </div>
</div>
