<div class="bud thumbnail public-course-tile">
  <div class="back"
       src-key="course.thumbnail"
       source-attr="background-image"
       suffix="-tile">
  </div>
  <div class="caption">
    <h5 class="course-name">
      {{course.name}}<br>
    </h5>
    <hr>
    <div class="text-muted">
      <span>{{course.lectureAssembly.length || 0}}课时</span>
      <span>|</span>
      <span ng-if="!course.$classes.lenght">即将推出</span>
      <span ng-if="course.$classes.lenght">{{course.$classes[0].duration.from|date:'yyyy.MM.dd'}}-{{course.$classes[0].duration.to|date:'yyyy.MM.dd'}}</span>
    </div>
    <a class="btn btn-xs trial-btn"><i class="fa fa-play"></i>免费试听</a>
    <a class="btn btn-default btn-xs" ng-if="course.$classes.lenght"><i class="fa fa-play"></i>course.$classes[0].price</a>

    <div class="text-muted">
      <i class="fa fa-user"></i>
      {{course.owners[0].name}}
    </div>
    <button class="btn btn-xs col-xs-12 btn-danger rounded">
      报名
    </button>
  </div>
</div>
