<div class="bud thumbnail public-course-tile">
  <div class="back"
       src-key="course.thumbnail"
       source-attr="background-image"
       suffix="-tile">
  </div>
  <div class="caption">
    <div class="clearfix owner">
      <div class="avatar-md pull-left"
           source-attr="background-image"
           src-key="course.owners[0].avatar"
           suffix="?imageView2/1/w/64/h/64">
      </div>
      <span class="name text-muted small">{{course.owners[0].name}}</span>
    </div>
    <h5 class="course-name">
      {{course.name}}<br>
    </h5>
    <hr>
    <div class="lecture-info text-muted small">
      <div class="lecture-num">{{course.lectureAssembly.length || 0}} 课时</div>
      <span ng-if="!course.$classes.length">即将推出</span>
      <span ng-if="course.$classes.length">
        {{course.$classes[0].duration.from|date:'yyyy.MM.dd'}}-{{course.$classes[0].duration.to|date:'yyyy.MM.dd'}}
      </span>
    </div>

    <span class="yuan"
          ng-if="course.$classes.length">
      ¥ {{course.$classes[0].price.toFixed(2)}}
    </span>
    <span class="yuan"
          ng-if="!course.$classes.length">
      即将推出
    </span>
    <span class="pull-right">
      <button class="btn btn-xs btn-default rounded">
        <i class="fa fa-play"></i> 试听
      </button>
      <button class="btn btn-xs btn-danger rounded">
        <i class="fa fa-shopping-cart"></i> 购买
      </button>
    </span>
  </div>
</div>
