<div class="container all-course-list">
  <div class="row header">
    <div class="col-md-12">
      <h4 class="title">精品课程</h4>
      <div class="btn-group">
        <label class="btn btn-toggle"
               ng-repeat="category in categories"
               ng-model="search.categoryId"
               uncheckable
               btn-radio="category._id">{{category.name}}</label>
      </div>
      <a href class="pull-right text-muted" ui-sref="courseList">更多课程 ></a>
    </div>
  </div>
  <div class="row body">
    <div class="col-md-3 col-sm-4"
         ng-repeat="course in allCourses | filter:{categoryId: search.categoryId || '!!'}">
      <a ui-sref="courseDetail({courseId:course._id})">
        <public-course-tile course="course"></public-course-tile>
      </a>
    </div>
  </div>
</div>
