
.forum-topic-composer.modal-footer{
  text-align: center;
}
.forum-topic-composer.modal-header{
  background: @base-color;
  text-align: center;
  color: #FFFFFF;
  h4{
    color: #FFFFFF;
  }
  .close{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
.forum-topic-composer{
  .bud-editor-input{
    min-height: 200px;
  }
  .tag-option{
    white-space: initial;
  }
  .tags{
    padding: 0 10px;
    .tag{
      float: left;
    }
  }
}
