<div class="modal-header">
  <h4 class="modal-title">
    <i class="budon budon-comments"></i>
    新的讨论
    <a href ng-click="close()" class="close">&times;</a>
  </h4>
</div>

<form class="form form-horizontal forum-topic-composer modal-body" novalidate
      name="form">

  <div class="form-group form-group-sm">
    <label class="control-label col-sm-2" for="title">主题</label>
    <div class="col-sm-10">
      <input class="form-control"
        name="title"
        id="title"
        type="text"
        ng-init="titleInputFocus=true"
        focus-me="titleInputFocus"
        placeholder="请输入您的讨论主题"
        ng-model="myTopic.title"
        required
        mongoose-error>
      <small class="text-danger" ng-if="form.title.$error.mongoose">{{ errors.title }}</small>
      <small class="text-danger" ng-if="form.title.$error.required && submitted">必填项</small>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-sm-2" for="tag">关键字</label>
    <div class="col-sm-10">
      <ui-select ng-model="selectedTag"
                 id="tag"
                 on-select="addTag($item, $select.search, $event)"
                 class="tag-select">
        <ui-select-match placeholder="请输入要添加的tag，然后按回车">
          <span class="text-muted">请输入要添加的tag，然后按回车</span>
        </ui-select-match>
        <ui-select-choices repeat="tag in tags | filter:$select.search">
          <span ng-bind-html="tag.text | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <div class="row-fluid tags">
        <span ng-repeat="tag in myTopic.tags" class="tag">
          {{tag}}
          <a ng-click="deleteTag(tag)" class="close">&times;</a>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="control-label col-sm-2" for="content">内容</label>
    <input type="hidden" ng-model="myTopic.content" name="content">
    <div class="col-sm-10">
      <bud-editor
        editor-id="content"
        on-change="onChange($text, form.content)"
        editor-name="content"
        content="myTopic.content">
      </bud-editor>
      <small class="text-danger" ng-if="form.content.$error.mongoose && submitted">{{ errors.content }}</small>
    </div>
  </div>

  <div class="modal-footer">
    <div class="pull-right">
      <button type="button"
              class="btn btn-sm btn-default rounded"
              ng-click="close()">取消</button>
      <button type="submit"
              class="btn btn-sm btn-danger rounded"
              ng-click="create(form)">确认</button>
    </div>
  </div>

</form>
