.main-org {
  background: #EBEBEB;
  padding-bottom: 20px;
  section {
    padding-top: 0px;
    h3 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .banner-section{
    margin-bottom: 40px;
  }
  .banner{
    background-color: @gray-lighter;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 480px;
    @media screen and (max-width: 1300px) {
      height: 300px;
    }
    @media screen and (max-width: 600px) {
      height: 200px;
    }
  }
}
