<section class="course-list margin-top"
         ng-if="Auth.hasRole('student')"
         ng-init="loadMyCourses()"
         id="course-list">
  <div class="head-row">
    <div class="container">
      <h4 class="row">购买的课程 <font class="text-muted">|</font> 共<b>{{myCourses.length||0}}</b>个</h4>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <accordion close-others="false">
            <accordion-group is-open="viewState.categoryOpen" ng-init="viewState.categoryOpen=true">
              <accordion-heading>
                分类 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': viewState.categoryOpen, 'glyphicon-chevron-right': !viewState.categoryOpen}"></i>
              </accordion-heading>
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-xs-3 control-label">科目</label>
                  <div class="col-xs-9">
                    <select class="form-control " ng-model="category" ng-options="category.name for category in categories"></select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 control-label">老师</label>
                  <div class="col-xs-9">
                    <select class="form-control " ng-model="teacher" ng-options="teacher.name for teacher in teachers"></select>
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-md-4 col-sm-6 text-center"
               ng-if="Auth.hasRole('teacher')">
            <button type="button"
                    class="btn btn-default new-course-btn"
                    ng-click="createNewCourse()">
              <i class="fa fa-file-text-o fa-3x"></i>
              <label>添加新课程</label>
              <i class="plus">+</i>
            </button>
          </div>
          <div class="col-md-4 col-sm-6" ng-repeat="course in myCourses | orderBy:'created':true|paging:itemsPerPage:currentMyCoursesPage">
            <a ng-if="Auth.hasRole('teacher')"
               ui-sref="teacher.course({courseId:course._id})">
              <course-tile course="course"></course-tile>
            </a>
            <a ng-if="!Auth.hasRole('teacher')"
               ui-sref="student.courseDetail({courseId:course._id})">
              <course-tile course="course"></course-tile>
            </a>
          </div>
          <div class="col-md-12 text-center">
            <pagination
              ng-hide="myCourses.length <= itemsPerPage"
              total-items="myCourses.length"
              ng-model="currentMyCoursesPage"
              items-per-page="itemsPerPage"
              class="pagination-sm"
              boundary-links="true"
              rotate="false"
              max-size="maxSize"
              previous-text="&lsaquo;"
              next-text="&rsaquo;"
              first-text="&laquo;"
              last-text="&raquo;"
              num-pages="numPages">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section ng-if="!Auth.isLoggedIn()"
         style="min-height: 100px; padding-top: 20px"
         class="margin-top text-center">
  <h3>Banner... </h3>
</section>

<section>
  <div class="container">
    <div class="section-header"
         id="course-list-header">
      <h3>所有课程</h3>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4" ng-repeat="course in allCourses">
        <a ui-sref="student.courseDetail({courseId:course._id})">
          <public-course-tile course="course"></public-course-tile>
        </a>
      </div>
    </div>
  </div>
</section>
