<div class="home">
  <section class="course-list"
           id="course-list">
    <div class="head-row">
      <div class="container">
        <div class="pull-left">
          <div class="avatar-md pull-left" src-key="getMe().avatar" source-attr="background-image">
          </div>
          <div class="pull-left">
            <h4>
              {{getMe().name}}
            </h4>
            <span class="text-muted" style="font-size: 12px;" ng-if="org.location.name">
              <i class="fa fa-map-marker"></i>{{org.location.name}}
            </span>
          </div>
        </div>
        <div class="pull-right my-course-count">
          <div class="text-muted">我的课程</div>
          <h3>{{getListData().length||0}}</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="row">
            <accordion class="bud" close-others="false">
              <accordion-group is-open="viewState.categoryOpen" ng-init="viewState.categoryOpen=true">
                <accordion-heading>
                  分类 <i class="pull-right fa" ng-class="{'fa-chevron-down': viewState.categoryOpen, 'fa-chevron-right': !viewState.categoryOpen}"></i>
                </accordion-heading>
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-xs-3 control-label">科目</label>
                    <div class="col-xs-9">
                      <select class="form-control " ng-model="viewState.myCoursesFilters.category" ng-options="category.name for category in myCategories"></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-3 control-label">老师</label>
                    <div class="col-xs-9">
                      <select class="form-control " ng-model="viewState.myCoursesFilters.teacher" ng-options="teacher.name for teacher in $teachers"></select>
                    </div>
                  </div>
                </div>
              </accordion-group>
              <accordion-group is-open="viewState.calendarOpen" ng-init="viewState.calendarOpen=true">
                <accordion-heading>
                  课程表 <i class="fa fa-calendar"></i> <i class="pull-right fa" ng-class="{'fa-chevron-down': viewState.calendarOpen, 'fa-chevron-right': !viewState.calendarOpen}"></i>
                </accordion-heading>
                <calendar-tile></calendar-tile>
              </accordion-group>
            </accordion>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row my-courses" style="margin-left: 0;">
            <div class="col-md-12 text-center">
              <h4>{{viewState.myCoursesFilters.category.name||'全部'}}
                <div class="pull-right">
                  <a href=""  ng-if="Auth.hasRole('teacher')" class="btn btn-xs" ng-click="createNewCourse()">
                    <i class="fa fa-plus"></i>&nbsp;添加新课程
                  </a>
                </div>
              </h4>
            </div>
            <div class="col-md-4 col-sm-6"
                 ng-repeat="data in getListData()">
              <a ng-if="Auth.hasRole('teacher')"
                 ui-sref="teacher.course({courseId:getCourse(data)._id})">
                <course-tile course="getCourse(data)"></course-tile>
              </a>
              <a ng-if="!Auth.hasRole('teacher')"
                 ui-sref="courseDetail({courseId:getCourse(data)._id, classeId:getClasse(data)._id})">
                <course-tile course="getCourse(data)" classe="getClasse(data)"></course-tile>
              </a>
            </div>
          </div>
          <div class="row pagination-row text-center"
               style="margin-left: 0;"
               ng-hide="getListData().length <= itemsPerPage">
            <pagination
              total-items="getListData().$count"
              ng-model="currentMyCoursesPage"
              items-per-page="itemsPerPage"
              class="pagination-sm bud"
              boundary-links="true"
              rotate="false"
              max-size="maxSize"
              previous-text="&lsaquo;"
              next-text="&rsaquo;"
              first-text="&laquo;"
              last-text="&raquo;"
              num-pages="numPages">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
