.course {
  &.course-detail{
    .course-info{
      height: 350px;
      position: relative;
      background: white;
      .box-shadow(2px 2px 2px rgba(0,0,0,0.3));
      .course-title{
        margin: 0;
        padding: 0px 40px;
        line-height: 60px;
        font-size: 20px;
        font-weight: normal;
        .text-overflow();
      }
      .course-info-left{
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        padding: 60px 0px 20px 40px;
        right: 440px;
        .course-thumbnail{
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          background-color: @gray-lighter;
        }
      }
      .course-info-right{
        padding: 60px 40px 20px 30px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 440px;
        .classe-select {
          margin-bottom: 25px;
          .classe-label {
            font-size: 16px;
            color: @base-color;
          }
          select {
            font-size: 16px;
            border: 1px solid #F0F0F0;
            background: white;
          }
        }
        .owner {
          .avatar-lg {
            box-shadow: none;
            margin-right: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50px;
          }
          .owner-name-title {
            display: inline-block;
            width: 100px;
            vertical-align: top;
            .owner-name {
              display: block;
              line-height: 30px;
            }
            .owner-title {
              display: block;
              font-size: 12px;
            }
          }
          .owner-info {
            font-size: 13px;
            display: inline-block;
            width: 200px;
            height: 60px;
            overflow: hidden;
            position: relative;
            padding-left: 20px;
            padding-top: 5px;
            &:before {
              content: '';
              position: absolute;
              border-left: 1px dashed #B3B2B2;
              height: 50px;
              left: 0;
            }
          }
        }
        .classe-duration {
          margin: 15px 0;
          padding: 12px 10px 12px 30px;
          width: 100%;
          height: 62px;
          border: 2px solid @base-color;
          .classe-col {
            font-size: 13px;
            display: inline-block;
            width: 25%;
            position: relative;
            span {
              font-size: 14px;
              color: black;
              display: block;
            }
          }
          .classe-col + .classe-col {
            width: 36%;
            &:before {
              content: '';
              position: absolute;
              border-left: 1px dashed #D3D3D3;
              height: 30px;
              top: 5px;
              left: -23px;
            }
          }
        }
        .buy-buttons {
          margin-top: 30px;
          .yuan {
            color: #F5855B;
            font-size: 22px;
          }
        }
        .learn-progress {
          margin-top: 30px;
          .progress {
            border: 18px solid @gray-lighter;
            width: 183px;
            height: 5px;
            background: @gray-light;
            box-sizing: content-box;
            margin: 0;
            display: inline-block;
            overflow: visible;
            .learn-progress-inner-bar {
              background: @gray;
              height: 5px;
            }
          }
          .tip {
            position: relative;
            margin: auto;
            text-align: center;
            width: 100px;
            top: -40px;
            background: #000;
            color: #FFF;
            font-size: 14px;
            padding: 5px 0;
            &:after {
              content: ' ';
              border-left: @tooltip-arrow-width solid transparent;
              border-right: @tooltip-arrow-width solid transparent;
              border-top: @tooltip-arrow-width solid @tooltip-arrow-color;
              position: absolute;
              top: 30px;
              left: 46px;
            }
          }
          .learn-btn {
            display: inline-block;
            vertical-align: top;
            width: ~'calc(100% - 223px)';
            .btn {
              width: 100%;
              height: 40px;
            }
          }
        }
      }
      &:before {
        content: '';
        position: absolute;
        bottom: -10px;
        width: 100%;
        left: 0;
        border-top: 10px solid @gray;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        height: 0;
      }
    }

    &.lecture-list{
      padding-bottom: 50px;
      @list-item-height: 75px;
      background: #EBEBEB;
      .list-group{
        margin-top: -1px;
      }
      .list-group-header {
        height: 55px;
        background: white;
        line-height: 50px;
        margin-top: 10px;
        padding: 0 20px;
        border-bottom: 1px solid #CFCACA;
        .course-label {
          font-weight: normal;
          font-size: 17px;
          line-height: 55px;
        }
        .btn-group {
          margin-top: -5px;
          margin-left: 20px;
          .btn + .btn {
            margin-left: 10px;
          }
          .btn-toggle {
            color: #8D8F92;
            border-radius: 4px !important;
            padding: 3px 12px;
            box-shadow: none;
            &:hover {
              color: white;
              background: @base-color + 15;
            }
            &:active ,
            &.active {
              color: white;
              background: @base-color;
            }
          }
        }
      }
      .list-group-item {
        height: @list-item-height;
        overflow: hidden;
        margin: 5px 0;
        border: none;
        padding: 10px 20px;
        .lecture-index {
          display: inline-block;
          font-size: 20px;
          line-height: 50px;
          width: 35px;
        }
        .lecture-name {
          display: inline-block;
          width: ~'calc(100% - 100px)';
          vertical-align: top;
          .title {
            font-size: 15px;
            line-height: 35px;
          }
          .info {
            .text-overflow();
          }
        }
        .lecture-tip {
          i {
            font-size: 17px;
          }
          color: @base-color;
          width: 50px;
          display: inline-block;
          font-size: 14px;
          line-height: 55px;
        }
        &.desc {
          min-height: 200px;
          padding: 20px;
        }
        &.lecture {
          &:hover {
            background: @base-color;
            color: white;
            .lecture-index,
            .lecture-tip,
            .title,
            .info {
              color: white;
            }
          }
        }
      }
      .pager{
        margin: 80px 0;
      }
    }

  }
}
