<!-- lecture list -->
<section class="course course-detail lecture-list" id="lecture-list">
  <div class="container">
    <div class="course-info row">
      <h4 class="course-title" tooltip="{{course.name}}" tooltip-placement="bottom">
        {{course.name}}
      </h4>
      <div class="course-info-left">
        <div class="course-thumbnail"
          src-key="course.thumbnail"
          source-attr="background-image">
        </div>
      </div>
      <div class="course-info-right">
        <div class="classe-select">
          <span class="classe-label">已开班级：</span>
          <select ng-model="selectedClasse"
                  ng-options="classe.name for classe in classes">
          </select>
        </div>
        <div class="classe-duration text-muted">
          <div class="classe-col">
            总课时
            <span>{{course.$lectures.length}}</span>
          </div>
          <div class="classe-col">
            上课时间
            <span>{{selectedClasse.duration.from | date: 'yyyy.MM.dd'}}</span>
          </div>
          <div class="classe-col">
            结束时间
            <span>{{selectedClasse.duration.to | date: 'yyyy.MM.dd'}}</span>
          </div>
        </div>
        <div class="owner">
          <div class="avatar-lg pull-left"
               source-attr="background-image"
               src-key="course.owners[0].avatar"
               suffix="?imageView2/1/w/64/h/64">
          </div>
          <div class="owner-name-title">
            <span class="owner-name">{{course.owners[0].name||'某老师'}}</span>
            <span class="owner-title">{{course.owners[0].title}}</span>
          </div>
          <div class="owner-info text-muted">
            {{course.owners[0].info}}
          </div>
        </div>
        <div class="buy-buttons"
             ng-if="selectedClasse.students.indexOf(Auth.getCurrentUser()._id) == -1">
          <span class="yuan" ng-if="selectedClasse.price > 0">
            ¥ {{selectedClasse.price.toFixed(2)}}
          </span>
          <span class="yuan" ng-if="selectedClasse.price == 0">
            免费课程
          </span>
          <span class="pull-right"
                ng-if="selectedClasse.price > 0">
            <button class="btn btn-md btn-link rounded"
                    ng-click="addToCart(selectedClasse)">
              加入购物车
            </button>
            <button class="btn btn-md btn-danger rounded"
                    ng-click="makeOrder(selectedClasse)">
              <i class="fa fa-shopping-cart"></i> 购买
            </button>
          </span>
          <span class="pull-right"
                ng-if="selectedClasse.price == 0">
            <button class="btn btn-md btn-danger rounded"
                    ng-click="enrollFreeClass(selectedClasse)">
              参加课程
            </button>
          </span>

        </div>
        <div class="learn-progress"
             ng-if="selectedClasse.students.indexOf(Auth.getCurrentUser()._id) >= 0">
          <div class="progress">
            <div class="learn-progress-inner-bar"
                ng-style="{'width':viewedLectureIndex / course.$lectures.length * 100 + '%'}">
            </div>
            <div class="tip">
              {{+viewedLectureIndex + '/' + course.$lectures.length}}课时
            </div>
          </div>
          <div class="learn-btn">
            <a class="btn btn-danger btn-lg"
               ng-click="gotoLecture()">
              {{viewedLectureIndex?'继续学习':'开始学习'}}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bud list-group">
      <!-- todo: disable-animation="true" animation looks strange -->
      <a class="bud list-group-item lecture row fade-repeat"
        ng-repeat="lecture in course.$lectures | paging:itemsPerPage:currentPage"
        ui-sref="lectureDetail({courseId:course._id,lectureId:lecture._id})">
        <div class="col-xs-1 text-center number">
          {{$index + 1 + itemsPerPage * ((currentPage||1) - 1)}}
          <i class="fa fa-check primary" ng-show="lecture.$viewed"></i>
        </div>
        <div class="col-xs-9">
          <h3 class="title">{{lecture.name}}</h3>
          <div class="info">
            {{lecture.info}}
          </div>
        </div>
        <div class="col-xs-1 text-center arrow-right">
          <i class="fa fa-star-o" ng-show="lecture.starred"></i>
        </div>
        <div class="col-xs-1 text-center arrow-right">
          <i class="fa fa-chevron-right"></i>
        </div>
      </a>
    </div>

    <pager ng-hide="course.$lectures.length <= itemsPerPage"
      total-items="course.$lectures.length"
      items-per-page="itemsPerPage"
      align="false"
      class="bud"
      ng-model="currentPage">
    </pager>
  </div>

</section>
