<div class="course course-detail">
  <div class="container">
    <div class="course-info row">
      <h4 class="course-title">
        {{classe.name}}
      </h4>
      <div class="row">
        <div class="col-md-7 course-info-left">
          <div class="course-thumbnail"
            src-key="course.thumbnail"
            source-attr="background-image">
          </div>
        </div>
        <div class="col-md-5 course-info-right">
          <div class="classe-info">
            <div class="row schedule-row">
              <div class="col-xs-6">
                <div class="text-muted">
                  开课日期
                </div>
                <div>
                  {{(classe.duration.from | date: 'yyyy.MM.dd') || '待定'}}-{{(classe.duration.to | date: 'yyyy.MM.dd') || '待定'}}
                </div>
              </div>
              <div class="col-xs-6 schedules">
                <div class="text-muted">
                  上课时间
                </div>
                <div class="schedules-summary" title="{{genScheduleSummary(classe.schedules)}}">
                  {{genScheduleSummary(classe.schedules)}}
                </div>
              </div>
            </div>
            <div class="row" ng-if="classe.address">
              <div class="col-xs-12">{{classe.address}}</div>
            </div>
            <div class="row">
              <div class="col-xs-6" ng-repeat="teacher in classe.teachers">
                <div class="teacher clearfix">
                  <div class="avatar-md pull-left"
                       source-attr="background-image"
                       src-key="teacher.avatar"
                       suffix="?imageView2/1/w/64/h/64">
                  </div>
                  <div>
                    {{teacher.name||'某老师'}}
                  </div>
                  <div class="text-muted">
                    {{teacher.title}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="buy-buttons"
               ng-if="classe.students.indexOf(Auth.getCurrentUser()._id) == -1">
            <span class="yuan" ng-if="classe.price > 0">
              ¥ {{classe.price.toFixed(2)}}
            </span>
            <span class="yuan" ng-if="classe.price == 0">
              免费课程
            </span>
            <span class="pull-right"
                  ng-if="classe.price > 0">
              <button class="btn btn-md btn-warning rounded"
                      login-window
                      login-success="makeOrder(classe)">
                直接购买
              </button>
              <button class="btn btn-md btn-danger rounded"
                      login-window
                      login-success="addToCart(classe)">
                <i class="fa fa-shopping-cart"></i>加入购物车
              </button>
            </span>
            <span class="pull-right"
                  ng-if="classe.price == 0">
              <button class="btn btn-md btn-danger rounded"
                      login-window
                      login-success="enrollFreeClass(classe)">
                参加课程
              </button>
            </span>

          </div>
          <div class="learn-progress"
               ng-if="classe.students.indexOf(Auth.getCurrentUser()._id) >= 0">
            <div class="progress">
              <div class="learn-progress-inner-bar"
                  ng-style="{'width':viewedLectureIndex / course.$lectures.length * 100 + '%'}">
              </div>
              <div class="tip">
                {{+viewedLectureIndex + '/' + course.$lectures.length}}课时
              </div>
            </div>
            <div class="learn-btn">
              <a class="btn btn-danger btn-lg"
                 ng-click="gotoLecture()">
                {{viewedLectureIndex?'继续学习':'开始学习'}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bud list-group lecture-list">
      <div class="list-group-header">
        <div class="btn-group">
          <label class="btn btn-toggle"
                 ng-model="courseTab.type"
                 btn-radio="'desc'">课程简介</label>
          <label class="btn btn-toggle"
                 ng-model="courseTab.type"
                 btn-radio="'lecture'">课时列表({{course.lectureAssembly.length||0}})</label>
          <label class="btn btn-toggle"
                 ng-model="courseTab.type"
                 btn-radio="'comments'">评论({{course.commentsNum||0}})</label>
        </div>
      </div>

      <div class="list-group-item desc" ng-show="courseTab.type=='comments'">
        <comments belong-to="course._id" type="2" active-comment="dataId">
        </comments>
      </div>


      <div class="list-group-item desc"
           ng-show="courseTab.type=='desc'">
        {{course.info}}
        <h3 ng-if="!course.info.length" class="text-center text-muted">暂无简介</h3>
      </div>

      <div class="list-group-item desc"
           ng-if="courseTab.type=='lecture' && !course.$lectures.length">
        <h3 class="text-center text-muted">暂无课时</h3>
      </div>

      <a class="list-group-item lecture"
         ng-show="courseTab.type=='lecture'"
         ng-repeat="lecture in course.$lectures | paging:itemsPerPage:currentPage"
         ui-sref="lectureDetail({courseId:course._id,lectureId:lecture._id})">
        <div class="text-center lecture-index text-muted">
          {{$index + 1 + itemsPerPage * ((currentPage||1) - 1)}}
        </div>
        <div class="lecture-name">
          <span class="title">{{lecture.name}}</span>
          <div class="info text-muted">
            {{lecture.info}}
          </div>
        </div>
        <div class="lecture-tip"
             ng-if="classe.students.indexOf(Auth.getCurrentUser()._id) == -1 && lecture.isFreeTry">
          <i class="fa fa-play-circle-o"></i> 试听
        </div>
        <div class="lecture-tip"
             ng-if="classe.students.indexOf(Auth.getCurrentUser()._id) != -1 && lecture.$viewed">
          <i class="fa fa-check-circle"></i> 完成
        </div>
      </a>
    </div>

    <pager ng-hide="course.$lectures.length <= itemsPerPage"
      total-items="course.$lectures.length"
      items-per-page="itemsPerPage"
      align="false"
      class="bud"
      ng-model="currentPage">
    </pager>
  </div>

</div>
