<section class="forum-list">

  <div class="header-row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 clearfix header">
          <div class="col-sm-6 clearfix">
            <div class="title pull-left">
              所有讨论组
              <span>|</span>
              <span>共<span class="text-primary">{{forumsTotalCount||0}}</span>个</span>
            </div>
            <ul class="nav nav-group pull-left">
              <li ng-class="{'active':pageConf.sort=='postsCount'}"><a href="" ng-click="pageConf.sort='postsCount';reload()">最热&nbsp;<i class="fa fa-heart"></i></a></li>
              <li ng-class="{'active':pageConf.sort=='created'}"><a href="" ng-click="pageConf.sort='created';reload()">最新&nbsp;<i class="fa fa-clock-o"></i></a></li>
            </ul>
          </div>
          <div class="col-sm-4 clearfix">
            <search-input keyword="viewState.keyword"
                          on-submit="reload(true)"
                          placeholder="班级名搜索">
            </search-input>
          </div>
          <div class="col-sm-2 actions clearfix" ng-if="Auth.hasRole('teacher')">
            <a href="" class="btn btn-danger btn-sm rounded" ng-click="createForum()">
              <i class="fa fa-plus"></i>&nbsp;新讨论组
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row all-forums">
      <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="forum in forums">
        <forum-tile forum="forum" >
        </forum-tile>
      </div>
    </div>
    <div class="row pagination-row text-center"
       ng-if="forums.$count > pageConf.itemsPerPage">
      <pagination
        total-items="forums.$count"
        ng-model="pageConf.currentPage"
        items-per-page="pageConf.itemsPerPage"
        class="pagination-sm bud"
        boundary-links="true"
        rotate="false"
        ng-change="reload()"
        max-size="pageConf.maxSize">
      </pagination>
    </div>
  </div>
</section>
