<div class="modal-header image-crop">
  <h3 class="modal-title">图片上传</h3>
</div>
<div class="modal-body image-crop">
  <div class="row">
    <div class="col-md-12">
      <div class="bud thumbnail">
        <img
        ng-src="{{viewState.previewUrl}}"
        ng-show="viewState.previewUrl"
        alt="预览" class="img-preview"
        >
        <img
          holder-src="holder.js/300x300/:#9c9c99:#bbb/text:请上传图片"
          ng-if="!viewState.previewUrl"
        alt="">
      </div>
      <div ng-if="!viewState.previewUrl">
        <label class="btn btn-default">
          <input type="file"
          style="display:none;"
          accept="image/*"
          ng-file-select="onFileSelect($event,$files)"/>
          选择图片
        </label>
      </div>
      <div ng-if="viewState.uploading">
        <label class="btn btn-default disabled ng-hide">
          <i class="fa fa-spinner fa-spin"></i>上传中 {{viewState.progress}}
        </label>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer image-crop">
  <button class="btn btn-primary" ng-click="confirm()"
  ng-disabled="!files">插入</button>
  <button class="btn btn-warning" ng-click="close()">关闭</button>
</div>
