<div class="reset">

  <div class="container">
    <div class="row">
      <form class="form-horizontal"
            ng-submit="resetPassword(form)"
            name="form">
        <div class="form-group header">
          <h3 class="col-md-3 control-label">重设登录密码</h3>
        </div>
        <div class="form-group">
          <label for="pwd-input" class="col-md-3 control-label">新的密码：</label>
          <div class="col-md-6">
            <input type="password"
                   id="pwd-input"
                   name="password"
                   class="form-control"
                   min-length="6"
                   ng-change="checkPasswordAgain(form.password, form.passwordAgain)"
                   placeholder="请输入您的新密码"
                   ng-model="password"
                   required/>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm-input" class="col-md-3 control-label">确认密码：</label>
          <div class="col-md-6">
            <input type="password"
                   name="passwordAgain"
                   id="confirm-input"
                   class="form-control"
                   min-length="6"
                   ng-change="checkPasswordAgain(form.password, form.passwordAgain)"
                   placeholder="请再次输入您的新密码"
                   ng-model="passwordConfirm"
                   required/>
          </div>
          <p class="help-block"
             ng-show="form.passwordAgain.$error.sameWith">
            两次输入密码不一致
          </p>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">
            <button type="submit" class="btn btn-primary">重设密码</button>
          </div>
        </div>
      </form>
    </div>

  </div>

</div>
