<div ng-class="{'margin-top': !webview}">
  <div class="container">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">订单历史</div>
      <!--<div class="panel-body">-->
        <!--<p>...</p>-->
      <!--</div>-->

      <ul class="list-group">
        <li ng-repeat="order in orders" class="list-group-item">
          <a ui-sref="order({orderId:order._id})">
            {{order.classes[0].name}}
            {{order.status}}
            {{order.created}}
          </a>
          <a class="close pull-right"
             ng-hide="order.status=='succeed'"
             href
             ng-click="deleteOrder(order)">&times;
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
