<div class="modal-header modal-header-black">
  <h4 class="modal-title">
    <span ng-if="!forum._id">添加讨论组</span>
    <span ng-if="forum._id">编辑讨论组</span>
    <a class="close" ng-click="cancel()">&times;</a>
  </h4>
</div>
<form class="form-horizontal edit-forum-form" novalidate
      name="form">
  <div class="form-group">
    <label class="control-label col-sm-3">讨论组名</label>
    <div class="col-sm-8">
      <input class="form-control"
             id="forum-name"
             ng-init="nameInputFocus=true"
             focus-me="nameInputFocus"
             placeholder="请输入讨论组名称"
             ng-model="forum.name"
             required>
      <small class="text-danger" ng-if="errors.name">{{ errors.name.message }}</small>
    </div>
  </div>

  <div class="form-group" ng-if="!forum.$category">
    <label class="control-label col-sm-3">类别</label>
    <div class="col-sm-8">
      <select
        class="form-control"
        id="forum-category"
        ng-model="forum.categoryId"
        ng-options="category._id as category.name for category in categories" >
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3">讨论组描述</label>
    <div class="col-sm-8">
      <input class="form-control"
             id="forum-info"
             placeholder="请输入描述..."
             ng-model="forum.info">
      <small class="text-danger" ng-if="errors.name">{{ errors.name.message }}</small>
    </div>
  </div>

  <div class="text-center">
    <button type="submit"
            class="btn btn-danger ok-btn"
            ng-click="confirm(form)">确认</button>
  </div>

</form>
