.edit-forum-form{
  padding: 30px 30px 20px 30px;
  input {
    border-radius: 4px;
  }
  .input-group-addon {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .ok-btn {
    margin-top: 15px;
    width: 100%;
    border-radius: 4px;
  }
  .logo{
    width: 140px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: @gray-lighter;
  }
  .drag-uploder{
    width: 140px;
    height: 90px;
    background-color: @gray-lighter;
    border: 1px @gray-light dashed;
    padding: 12px 16px;
    font-size: 12px;
    .btn-danger{
      margin-top: 10px;
    }
  }

}
