.login-window-modal {
  .bud-modal;
  .modal-dialog {
    margin-top: 120px;
    width: 650px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .logo {
    max-width: 30px;
  }
  .login-btn {
    width: 100%;
    height: 40px;
  }
  .login-title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .forgot-pwd {
    margin-bottom: 10px;
  }
  .form-control {
    height: 45px;
  }
  .modal-footer {
    width: 100%;
    padding-left: 45px !important;
    background: #EAEAEA;
    text-align: left;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .email-login-group {
    vertical-align: top;
    width: 56%;
    display: inline-block;
  }
  .weixin-login-group {
    vertical-align: top;
    width: 44%;
    display: inline-block;
    margin-left: 5px;
    margin-right: -15px;
    margin-top: -55px;
    margin-bottom: -55px;
    .transform(0deg, .74, 0deg, 0px);
    &:before {
      content: '';
      border-left: 1px solid #d3d3d3;
      position: absolute;;
      width: 1px;
      height: 400px;
      left: -24px;
    }
  }
}
