.login-window-modal {
  .bud-modal;
  .modal-dialog {
    width: 650px;
  }
  .modal-content {
    margin-top: 120px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .col-md-6 {
    margin-left: 30px;
  }
  .logo {
    max-width: 30px;
  }
  .login-btn {
    width: 100%;
    height: 40px;
  }
  .login-title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .forgot-pwd {
    margin-bottom: 10px;
  }
  .form-control {
    height: 45px;
  }
  .modal-footer {
    width: 100%;
    background: #EAEAEA;
    text-align: left;
  }
  .weixin-group {
    margin-bottom: -45px;
    .transform(0deg, .74, 0deg, 0px);
    &:before {
      content: '';
      border-left: 1px solid #d3d3d3;
      position: absolute;;
      width: 1px;
      height: 400px;
      left: -18px;
    }
  }
}
