<div>
  <div class="modal-body login-modal">
    <p class="text-center">
      无需注册，直接使用社交账号登录
    </p>
    <hr>
    <div ng-if="currentPage == 'login'">
      <form name="loginForm" ng-submit="login(loginForm)">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control"
                   type="text"
                   placeholder="邮箱"
                   ng-model="user.email"
                   name="email"
                   required>
            <div class="input-group-addon">
              <i class="fa fa-envelope"></i>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control"
                   type="password"
                   placeholder="密码"
                   name="password"
                   ng-model="user.password"
                   required>
            <div class="input-group-addon">
              <i class="budon budon-lock"></i>
            </div>
          </div>
        </div>
        <span class="text-danger" ng-if="viewState.errors">{{viewState.errors.message}}</span>
        <div class="text-left">
          <a ng-click="changePage('forget')" class="login-forget" href>忘记密码&nbsp;<i class="fa fa-question-circle"></i></a>
          <button class="btn btn-danger pull-right rounded"
                  ng-disabled="loggingIn"
                  type="submit">
            <span ng-if="!viewState.posting">
              登录
            </span>
            <span ng-if="viewState.posting">
              <i class="fa fa-spinner fa-spin"></i>
              登录中
            </span>
          </button>
        </div>
      </form>

      <hr>

      <div class="pull-left">
      没有账号？<a href ng-click="changePage('signup')">注册</a>
      </div>
      <!-- weixin-login QR code area-->
      <weixin-login/>
    </div>


    <div ng-if="currentPage == 'signup'">
      <form name="signupForm" ng-submit="signup(signupForm)">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control"
                   type="text"
                   placeholder="名称"
                   ng-model="user.name"
                   name="name"
                   required>
            <div class="input-group-addon">
              <i class="budon budon-user"></i>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control"
                   type="email"
                   placeholder="邮箱"
                   ng-model="user.email"
                   ng-change="checkEmail(signupForm.email)"
                   name="email"
                   required>
            <div class="input-group-addon">
              <i class="fa fa-envelope"></i>
            </div>
          </div>
          <p ng-if="signupForm.email.$error.remote">
            <i class="fa fa-exclamation-triangle text-danger"></i>
            该邮箱已被注册，请尝试<a href ng-click="changePage('login')">登录</a>或者<a href ng-click="changePage('forget')">密码找回</a>
          </p>
          <p ng-if="viewState.errors.email">
            <i class="fa fa-exclamation-triangle text-danger"></i>
            {{viewState.errors.email.message}}
          </p>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control"
                   type="password"
                   placeholder="密码"
                   name="password"
                   ng-model="user.password"
                   required>
            <div class="input-group-addon">
              <i class="budon budon-lock"></i>
            </div>
          </div>
        </div>
        <div class="text-left">
          <span class="login-forget">已有账号？&nbsp;<a href ng-click="changePage('login')">登录</a></span>
          <button class="btn btn-danger pull-right rounded"
                  ng-disabled="viewState.posting"
                  type="submit">
            <span ng-if="!viewState.posting">
              注册
            </span>
            <span ng-if="viewState.posting" >
              <i class="fa fa-spinner fa-spin"></i>
              注册中
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
